﻿@{
    ViewData["Title"] = "Форевер Ливинг Продактс Кыргызстан";
}

@section Body
{
    <div class="container">
        <header>
            <div class="row">
                <div class="span4 logotype">
                    <a href="/" class="logo"></a>
                </div>
                <div class="span8">
                    <div class="social-panel">
                        <span>Социальные сети:</span>
                        <a asp-action="Facebook" title="Facebook" class="icon-face" target="_blank"></a>
                        <a href="#" title="Twitter" class="icon-tw" target="_blank"></a>
                        <a href="#" title="YouTube" class="icon-youtube" target="_blank"></a>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="container">
        <div class="entrance">
            <nav>
                <ul>
                    <li><a asp-controller="Account" asp-action="Login">Интернет Заказ</a></li>
                    <li><a asp-action="Select" asp-controller="Account">Регистрация</a></li>
                    <li><a asp-action="Contact">Свяжитесь с нами</a></li>
                    <li><a asp-action="About" target="_blank">О ФЛП</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <ul id="theslider" class="slider resslides centered-btns centered-btns1">
        <li id="centered-btns1_s0" class="centered-btns1_on" style="display: block; float: left; position: relative; opacity: 1; z-index: 2; transition: opacity 500ms ease-in-out;"><a href="http://foreverliving.com/page/news/news-items/global-rally-2018-dallas-/kgz/ru" target="_blank"><img src="images/entrance-slide/slide01.jpg" alt=""></a></li>
    </ul>
}
@section Footer
{
    <div class="footer-menu-field nobg">
        <div class="footer-menu__center">
            <ul class="footer-menu">
                <li>© @DateTime.Now.Year Форевер Ливинг Продактс Кыргызстан</li>
            </ul>
        </div>
    </div>
}
