﻿
@model Members
@{
    ViewData["Title"] = "Редактирование профиля";
    Layout = "~/Views/Shared/_LayoutForStore.cshtml";
}

@section Body
    {
    <div class="container">
        <header>
            <div class="row">
                <div class="span4 logotype">
                    <a asp-action="Index" class="logo"></a>
                </div>
                <div class="span8">
                    <div class="social-panel">
                        <span>Социальные сети:</span>
                        <a asp-controller="Home" asp-action="Facebook" title="Facebook" class="icon-face" target="_blank"></a>
                        <a href="#" title="Twitter" class="icon-tw" target="_blank"></a>
                        <a href="#" title="YouTube" class="icon-youtube" target="_blank"></a>
                    </div>
                </div>
            </div>
            <a href="#" class="alisveris-btn">Заказ</a>
        </header>
    </div>	<div class="main-navigation-field main-navigation-field-index">
        <div class="container">
            <nav>
                <ul class="main-navigation">
                    <li>
                        <a href="#">О ФЛП</a>
                        <div class="sub-navigation panel_01">
                            <ul class="sub-navigation__menu">
                                <li><a asp-controller="Home" asp-action="About" target="_blank">О Нас</a></li>
                                <li><a asp-action="Contact" asp-controller="Home">Свяжитесь с нами / Офисы</a></li>
                                <li><a asp-controller="Home" asp-action="OfficeInWorld" target="_blank">Офисы в мире</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="https://fbosite.foreverliving.com/distribNew/Login.do?store=KAZ&langID=ru" class="no-arrow" target="_blank">Сколько у Вас КБ</a></li>
                    <li><a href="http://foreverliving.com/discoverforever" class="no-arrow" target="_blank">ФЛП Медиа</a></li>
                    <li>
                        <a href="#">Материалы</a>
                        <div class="sub-navigation panel_01">
                            <ul class="sub-navigation__menu">
                                <li><a href="#">Прайс-Лист</a></li>
                                <li><a href="#">Сертификаты</a></li>
                            </ul>
                        </div>
                    <li>
                        <a href="#">Каталог Продукции</a>
                        <div class="sub-navigation panel_01">
                            <ul class="sub-navigation__menu">
                                <li><a href="#">Каталог Продукции</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <!-- ?????????? ??? ??????? 640-->
                <a href="#" class="main-menu-small-btn"></a>
                <div id="st-accordion" class="st-accordion">
                    <ul>
                        <li>
                            <a href="#">О ФЛП<span class="st-arrow">Open or Close</span></a>
                            <div class="st-content">
                                <div class="sub-small-main-menu">
                                    <ul>
                                        <li><a asp-controller="Home" asp-action="About" target="_blank">О Нас</a></li>
                                        <li><a asp-action="Contact" asp-controller="Home">Свяжитесь с нами / Офисы</a></li>
                                        <li><a asp-controller="Home" asp-action="OfficeInWorld" target="_blank">Офисы в мире</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li><a href="https://fbosite.foreverliving.com/distribNew/Login.do?store=KAZ&langID=ru" class="no-arrow" target="_blank">Сколько у Вас КБ</a></li>
                        <li><a href="http://foreverliving.com/discoverforever" class="no-arrow" target="_blank">ФЛП Медиа</a></li>
                        <li>
                            <div>
                                <a href="#">Материалы<span class="st-arrow">Open or Close</span></a>
                                <div class="st-content">
                                    <div class="sub-small-main-menu">
                                        <ul>
                                            <li><a href="#">Прайс-Лист</a></li>
                                            <li><a href="#">Сертификаты</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- ?????????? ??? ??????? 640-->
            </nav>
            <div class="cart-field">
                <div class="cart" data-dropdown="#cart-panel">
                    <a href="#" class="cart-icon">&nbsp;>>>></a>
                    <span class="counter"><i><div id="cart_count">15</div></i>шт.</span>
                    <input type="hidden" id="hid_ccount" value="15">
                    <a href="#" class="arrow-icon"></a>
                </div>
            </div>

        </div>
        <div class="clear"></div>
    </div>
    <div class="container">
        <br>
        <div class="row">
            <div class="text">
                <p class="canteral">
                    Уважаемые предприниматели, Пожалуйста убедитесь в точности всех данных указанных при изменении!<br>
                    Если есть ошибки в разделах, где Вы не можете внести изменения, пожалуйста, напишите об этом info@flpkz.kz
                </p>
            </div>
            <form asp-action="EditeUserProfile" method="post" asp-antiforgery="true">
                <div class="register-row">
                    <div class="register-row--title">
                        Данные Предпринимателя
                    </div>
                    <p class="register-text">Примечание: ( * ) поля для обязательного заполнения.</p>
                    <table class="registration-table">
                        <tr>
                            <td><label for="idNumber">	ID номер  *</label></td>
                            <td>
                                @Model.Flp_username
                            </td>
                        </tr>
                        <tr>
                            <td><label for="sponsorName">Имя &amp; Фамилия Спонсора *</label></td>
                            <td>@Model.Flp_sponsor</td>
                        </tr>
                        <tr>
                            <td><label for="rank">Статус</label></td>
                            <td>
                                @Model.Flp_position
                                <input type="hidden" name="rank" value="@Model.Flp_position">
                            </td>
                        </tr>
                    </table>
                    <div class="clear"></div>
                </div>
                <div class="register-row">
                    <div class="register-row--title">
                        Данные
                    </div>
                    <table class="registration-table">
                        <tr>
                            <td><label for="firstName">Имя *</label></td>
                            <td>@Model.Flp_name</td>
                        </tr>
                        <tr>
                            <td><label for="lastName">Фамилия *</label></td>
                            <td>@Model.Flp_surname</td>
                        </tr>
                        <tr>
                            <td><label for="iin">ИИН*</label></td>
                            <td><input type="text" name="iin" id="iin" value="@Model.Iban" data-valid="not_empty is_numeric"></td>
                        </tr>
                        <tr>
                            <td><label for="occupation">Профессия</label></td>
                            <td><input type="text" name="occupation" id="occupation" value="@Model.Flp_occupation"></td>
                        </tr>
                    </table>

                    <div class="clear"></div>
                </div>

                <div class="register-row">
                    <div class="register-row--title">
                        Электронная почта
                    </div>
                    <table class="registration-table">
                        <tr>
                            <td><label for="email">E-mail *</label></td>
                            <td><input type="text" name="email" id="email" class="validate" data-valid="email" value="@Model.Flp_emailaddress"></td>
                        </tr>
                        <tr>
                            <td><label for="emailConfirm">Подтвердите E-mail *</label></td>
                            <td><input type="text" name="emailConfirm" id="emailConfirm" class="validate" data-valid="email" value="@Model.Flp_emailaddress"></td>
                        </tr>
                        <tr>
                            <td><label for="bullettin">Рассылка от ФЛП</label></td>
                            <td class="styled-radio">
                                <span class="desc-label">Хочу</span>
                                <input name="bullettin" type="checkbox" value="true">
                            </td>
                        </tr>
                    </table>
                    <div class="clear"></div>
                </div>
                <div class="register-row">
                    <div class="register-row--title">
                        Контактная информация
                    </div>

                    <table class="registration-table">
                        <tr>
                            <td class="vat"><label for="address">Ваш адрес *</label></td>
                            <td><textarea name="address" id="address" class="validate" data-valid="not_empty">@Model.Flp_address</textarea></td>
                        </tr>

                        <tr>
                            <td class="vat"><label for="addressDelivery">Адрес доставки *</label></td>
                            <td><textarea name="addressDelivery" id="addressDelivery" class="validate" data-valid="not_empty">@Model.Flp_deliveryaddress</textarea></td>
                        </tr>
                        <tr>
                            <td><label for="states">Область *</label></td>
                            <td class="select200">
                                <select name="states" asp-items="@ViewBag.Region" id="states" size="1" class="selectbox" onChange="getState(this.value);"></select>
                                <input type="hidden" name="state">
                            </td>
                        </tr>
                        <tr>
                            <td><label for="city">Город/Район *</label></td>
                            <td class="select200">
                                <div id="statediv">
                                    <select id="city" name="city" class="selectbox">
                                        <option>Выберите область</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="country">Страна *</label></td>
                            <td class="select200">
                                <select name="country" id="select" class="selectbox">
                                    <option value="Kyrgyzstan" selected>Кыргызстан</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="postCode">Индекс *</label></td>
                            <td><input type="text" name="postCode" id="postCode" class="validate" data-valid="not_empty" value="@Model.Flp_postcode"></td>
                        </tr>
                        <tr>
                            <td><label for="homephoneNumber">Номер телефона (домашний)</label></td>
                            <td>
                                <br class="carry">
                                <input name="homephoneNumber" type="text" class="input200" id="homephoneNumber" value="@Model.Flp_homephone" size="30">
                            </td>
                        </tr>
                        <tr>
                            <td><label for="workphoneNumber">Номер телефона (рабочий)</label></td>
                            <td>
                                <br class="carry">
                                <input name="workphoneNumber" type="text" class="input200" id="workphoneNumber" value="@Model.Flp_workphone" size="30">
                            </td>
                        </tr>
                        <tr>
                            <td><label for="cellphoneNumber">Номер телефона (сотовый)</label></td>
                            <td>
                                <br class="carry">
                                <input name="cellphoneNumber" type="text" class="input200" id="cellphoneNumber" tabindex=18 value="@Model.Flp_cellularnumber" size="30">
                            </td>
                        </tr>
                    </table>
                    <div class="clear"></div>
                </div>
                <div class="register-btn">
                    <input type="submit" value="Изменить">
                </div>
            </form>
        </div>
    </div>
}

@section Footer
    {
    <div class="footer-menu-field">
        <div class="footer-menu__center">
            <ul class="footer-menu">
                <li><a href="/go/?go=contactus">Контакты</a></li> | 
                <li>&copy; 2018 Форевер Ливинг Продактс Кыргызстан</li>
            </ul>
        </div>
    </div>
    <div class="footer-line"></div>
    <div class="footer-logo-field">
        <img src="/sources/f-logo1.png" alt="">
        <img src="/sources/f-logo2.png" alt="">
        <img src="/sources/f-logo3.png" alt="">
        <img src="/sources/f-logo4.png" alt="">
        <img src="/sources/f-logo7.png" alt="">
    </div>
}

@section Script
{
        <script type="text/javascript" src="~/js/site.js"></script>
}
