﻿
@{
    ViewData["Title"] = "Интернет магазин";
    Layout = "~/Views/Shared/_LayoutForStore.cshtml";
}

@section Body
    {
    <div class="container">
        <header>
            <div class="row">
                <div class="span4 logotype">
                    <a asp-controller="Store" asp-action="Index" class="logo"></a>
                </div>
                <div class="span8">
                    <div class="social-panel">
                        <span>Социальные сети:</span>
                        <a asp-controller="Home" asp-action="Facebook" title="Facebook" class="icon-face" target="_blank"></a>
                        <a href="#" title="Twitter" class="icon-tw" target="_blank"></a>
                        <a href="#" title="YouTube" class="icon-youtube" target="_blank"></a>
                    </div>

                </div>
            </div>
            <a href="/go/?go=eshop" class="alisveris-btn">Заказ</a>
        </header>
    </div>	<div class="main-navigation-field main-navigation-field-index">
        <div class="container">
            <nav>
                <ul class="main-navigation">
                    <li>
                        <a href="#">О ФЛП</a>
                        <div class="sub-navigation panel_01">
                            <ul class="sub-navigation__menu">
                                <li><a asp-controller="Home" asp-action="About" target="_blank">О Нас</a></li>
                                <li><a asp-action="Contact" asp-controller="Home">Свяжитесь с нами / Офисы</a></li>
                                <li><a asp-controller="Home" asp-action="OfficeInWorld" target="_blank">Офисы в мире</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="https://fbosite.foreverliving.com/distribNew/Login.do?store=KAZ&langID=ru" class="no-arrow" target="_blank">Сколько у Вас КБ</a></li>
                    <li><a href="http://foreverliving.com/discoverforever" class="no-arrow" target="_blank">ФЛП Медиа</a></li>
                    <li>
                        <a href="#">Материалы</a>
                        <div class="sub-navigation panel_01">
                            <ul class="sub-navigation__menu">
                                <li><a href="#">Прайс-Лист</a></li>
                                <li><a href="#">Сертификаты</a></li>
                            </ul>
                        </div>
                    <li>
                        <a href="#">Каталог Продукции</a>
                        <div class="sub-navigation panel_01">
                            <ul class="sub-navigation__menu">
                                <li><a href="#">Каталог Продукции</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <!-- ?????????? ??? ??????? 640-->
                <a href="#" class="main-menu-small-btn"></a>
                <div id="st-accordion" class="st-accordion">
                    <ul>
                        <li>
                            <a href="#">О ФЛП<span class="st-arrow">Open or Close</span></a>
                            <div class="st-content">
                                <div class="sub-small-main-menu">
                                    <ul>
                                        <li><a asp-controller="Home" asp-action="About" target="_blank">О Нас</a></li>
                                        <li><a asp-action="Contact" asp-controller="Home">Свяжитесь с нами / Офисы </a></li>
                                        <li><a asp-controller="Home" asp-action="OfficeInWorld">Офисы в мире</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="https://fbosite.foreverliving.com/distribNew/Login.do?store=KAZ&langID=ru" target="_blank">Узнайте сколько у Вас КБ</a>
                        </li>
                        <li>
                            <a href="http://foreverliving.com/discoverforever" target="_blank">ФЛП Медиа</a>
                        </li>
                        <li>
                            <div>
                                <a href="#">Материалы<span class="st-arrow">Open or Close</span></a>
                                <div class="st-content">
                                    <div class="sub-small-main-menu">
                                        <ul>
                                            <li><a href="/go/?go=pricelist">Прайс-Лист</a></li>
                                            <li><a href="/go/?go=certificates">Сертификаты</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="cart-field">
                <div class="cart" data-dropdown="#cart-panel">
                    <a href="#" class="cart-icon">&nbsp;>>>></a>
                    <span class="counter"><i><div id="cart_count"></div></i>шт.</span>
                    <input type="hidden" id="hid_ccount" value="15">
                    <a href="#" class="arrow-icon"></a>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="slider">
        <div class="rslides_container">
            <ul id="slider1">
                <li class="rslides1"><!--a href="http://foreverglobalrally.com/gr16/" target="_blank"--><img height="400" src="~/sources/Dubai_GlobalRally.png" alt="Dubai Global Rally"><!--/a--></li>
                <li class="rslides2"><img height="400" src="~/sources/Rock_theBoat.png" alt="Rock The Boat"></li>
                <!--li><img src="sources/slide1.png" alt=""></li-->
            </ul>
        </div>
    </div>
    <div class="container">


        <div class="row">
            <a href="#" class="shop-link-big">Заказ<i></i></a>
        </div>
        <div class="row">


            <div class="span3 sidebar">
                <a href="#" class="shop-link">Заказ<i></i></a>
                <div class="sb-message">
                    2017 SUCCESS DAY
                </div>
                <div class="sidebar-menu-field">
                    <img src="~/sources/img1.png" alt="" />

                    <div class="sidebar-menu">

                        <div class="title">
                            <span class="flag-04"></span>
                            Кыргызстан
                        </div>
                        <table class="menu-table">

                            <tr>
                                <td>19 Март 2017</td>
                                <td>Алматы</td>
                            </tr>
                            <tr>
                                <td>21 Май 2017</td>
                                <td>Астана</td>
                            </tr>
                            <tr>
                                <td>16 Июнь 2017</td>
                                <td>Атырау</td>
                            </tr>
                            <tr>
                                <td>18 Июнь 2017</td>
                                <td>Алматы</td>
                            </tr>
                            <tr>
                                <td>17 Сентябрь 2017</td>
                                <td>Алматы</td>
                            </tr>
                            <tr>
                                <td>09  Декабрь 2017</td>
                                <td>Астана</td>
                            </tr>
                            <tr>
                                <td>22   Декабрь 2017</td>
                                <td>Атырау</td>
                            </tr>
                            <tr>
                                <td>24   Декабрь 2017</td>
                                <td>Алматы</td>
                            </tr>
                        </table>

                    </div>
                </div>

                <div class="phone-vidget">
                    <i class="phone-icon"></i>
                    <p>
                        Позвоните нам!<br>
                        <strong>8 727 238 48 38</strong>
                    </p>
                </div>
                <div class="search-vidget">
                    <h1>Скачать</h1>
                    <p>Кликните правой кнопкой мыши и выберите "Сохранить ссылку как"...</p><hr><div class="info-item__description">
                        <a href="/download/docs/Смена_статуса.docx" target="_blank">СМЕНА СТАТУСА</a><hr>
                        <a href="/download/docs/company_policy.rar" target="_blank">ПОЛИТИКА КОМПАНИИ</a><hr>
                        <a href="/download/docs/форма_о_смене_страны.docx" target="_blank">ФОРМА О СМЕНЕ СТРАНЫ</a><hr>
                        <a href="/download/docs/смена_спонсора_через_2_года.doc" target="_blank">СМЕНА СПОНСОРА ЧЕРЕЗ 2 ГОДА</a>
                    </div>
                </div>
            </div>

            <div class="span6 center-column" />
            <div class="tabs">
                <ul class="navigation">
                    <li>
                        <a href="#tabs1">Популярные Продукции</a>
                    </li>
                    <!--li><a href="#tabs2">Новые Продукции</a></li-->
                </ul>
                <div>
                    <div class="scrollContainer">
                        <div class="panel" id="tabs1">
                            <div class="row">
                                <div class="span3 product-item product-item-indpage">
                                    <!-- ???????????? ??? ????????? -->
                                    <div class="product-item__hover-cart">
                                        <div class="product-item__hover-cart__inner">
                                            <div class="big-cart">
                                                <img src="~/images/big-cart.png" alt="" />
                                            </div>
                                            <div class="cart-spinner">
                                                <label>шт.</label>
                                                <input id="q15" name="q15" type="text" style="width: 50px;" class="spinnerfast" value="0" />
                                            </div>
                                            <div class="cart-add-btn">
                                                <a href="javascript:;" onClick="sendcart(q15.value, '15', hid_ccount.value);">Купить</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /???????????? ??? ????????? -->
                                    <div class="product-item__code">Код: 15</div>
                                    <a href="#">
                                        <div class="product-item__preview">
                                            <img src="~/sources/products/15.png" alt="">
                                        </div>
                                    </a>
                                    <div class="product-item__title">
                                        <a href="#">Алоэ Вера Гель</a>
                                    </div>
                                    <div class="product-item__price">
                                        <span class="sum">18 тг.</span>
                                        <span class="kredit">0,101 кб </span>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="product-item__description">Напитки Алоэ</div>
                                </div>
                                <div class="span3 product-item product-item-indpage">
                                    <!-- ???????????? ??? ????????? -->
                                    <div class="product-item__hover-cart">
                                        <div class="product-item__hover-cart__inner">
                                            <div class="big-cart">
                                                <img src="~/images/big-cart.png" alt="" />
                                            </div>
                                            <div class="cart-spinner">
                                                <label>шт.</label>
                                                <input id="q22" name="q22" type="text" style="width: 50px;" class="spinnerfast" value="0" />
                                            </div>
                                            <div class="cart-add-btn">
                                                <a href="javascript:;" onClick="sendcart(q22.value, '22', hid_ccount.value);">Купить</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /???????????? ??? ????????? -->
                                    <div class="product-item__code">Код: 22</div>
                                    <a href="#">
                                        <div class="product-item__preview">
                                            <img src="~/sources/products/22.png" alt="">
                                        </div>
                                    </a>
                                    <div class="product-item__title">
                                        <a href="#">Гигиеническая Помада</a>
                                    </div>
                                    <div class="product-item__price">
                                        <span class="sum">3 тг.</span>
                                        <span class="kredit">0,014 кб </span>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="product-item__description">Средства гигиены и уход за кожей</div>
                                </div>
                                <div class="span3 product-item product-item-indpage">
                                    <!-- ???????????? ??? ????????? -->
                                    <div class="product-item__hover-cart">
                                        <div class="product-item__hover-cart__inner">
                                            <div class="big-cart">
                                                <img src="~/images/big-cart.png" alt="" />
                                            </div>
                                            <div class="cart-spinner">
                                                <label>шт.</label>
                                                <input id="q28" name="q28" type="text" style="width: 50px;" class="spinnerfast" value="0" />
                                            </div>
                                            <div class="cart-add-btn">
                                                <a href="javascript:;" onClick="sendcart(q28.value, '28', hid_ccount.value);">Купить</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /???????????? ??? ????????? -->
                                    <div class="product-item__code">Код: 28</div>
                                    <a href="#">
                                        <div class="product-item__preview">
                                            <img src="~/sources/products/28.png" alt="">
                                        </div>
                                    </a>
                                    <div class="product-item__title">
                                        <a href="#">Форевер Брайт Гель Для Зубов</a>
                                    </div>
                                    <div class="product-item__price">
                                        <span class="sum">6 тг.</span>
                                        <span class="kredit">0,031 кб </span>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="product-item__description">Средства гигиены и уход за кожей</div>
                                </div>
                                <div class="span3 product-item product-item-indpage">
                                    <!-- ???????????? ??? ????????? -->
                                    <div class="product-item__hover-cart">
                                        <div class="product-item__hover-cart__inner">
                                            <div class="big-cart">
                                                <img src="~/images/big-cart.png" alt="" />
                                            </div>
                                            <div class="cart-spinner">
                                                <label>шт.</label>
                                                <input id="q67" name="q67" type="text" style="width: 50px;" class="spinnerfast" value="0" />
                                            </div>
                                            <div class="cart-add-btn">
                                                <a href="javascript:;" onClick="sendcart(q67.value, '67', hid_ccount.value);">Купить</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /???????????? ??? ????????? -->
                                    <div class="product-item__code">Код: 67</div>
                                    <a href="#">
                                        <div class="product-item__preview">
                                            <img src="~/sources/products/67.png" alt="">
                                        </div>
                                    </a>
                                    <div class="product-item__title">
                                        <a href="#">Дезодорант Алоэ Эвер-Шилд</a>
                                    </div>
                                    <div class="product-item__price">
                                        <span class="sum">5 тг.</span>
                                        <span class="kredit">0,029 кб </span>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="product-item__description">Средства гигиены и уход за кожей</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Script{
    <script src="~/js/site.js"></script>
}
