﻿
@model int?
@{
    ViewData["Title"] = "Профиль";
    Layout = "~/Views/Shared/_LayoutForStore.cshtml";
}

@section Body
    {
    <div class="container">
        <header>
            <div class="row">
                <div class="span4 logotype">
                    <a href="/go/?go=main" class="logo"></a>
                </div>
                <div class="span8">
                    <div class="social-panel">
                        <span>Социальные сети:</span>
                        <a asp-controller="Home" asp-action="Facebook" title="Facebook" class="icon-face" target="_blank"></a>
                        <a href="#" title="Twitter" class="icon-tw" target="_blank"></a>
                        <a href="#" title="YouTube" class="icon-youtube" target="_blank"></a>
                    </div>
                </div>
            </div>
            <a href="#" class="alisveris-btn">Заказ</a>
        </header>
    </div>	<div class="main-navigation-field main-navigation-field-index">
        <div class="container">
            <nav>
                <ul class="main-navigation">
                    <li>
                        <a href="#">О ФЛП</a>
                        <div class="sub-navigation panel_01">
                            <ul class="sub-navigation__menu">
                                <li><a asp-controller="Home" asp-action="About" target="_blank">О Нас</a></li>
                                <li><a asp-action="Contact" asp-controller="Home">Свяжитесь с нами / Офисы</a></li>
                                <li><a asp-controller="Home" asp-action="OfficeInWorld" target="_blank">Офисы в мире</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="https://fbosite.foreverliving.com/distribNew/Login.do?store=KAZ&langID=ru" class="no-arrow" target="_blank">Сколько у Вас КБ</a></li>
                    <li><a href="http://foreverliving.com/discoverforever" class="no-arrow" target="_blank">ФЛП Медиа</a></li>
                    <li>
                        <a href="#">Материалы</a>
                        <div class="sub-navigation panel_01">
                            <ul class="sub-navigation__menu">
                                <li><a href="#">Прайс-Лист</a></li>
                                <li><a href="#">Сертификаты</a></li>
                            </ul>
                        </div>
                    <li>
                        <a href="#">Каталог Продукции</a>
                        <div class="sub-navigation panel_01">
                            <ul class="sub-navigation__menu">
                                <li><a href="#">Каталог Продукции</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <!-- ?????????? ??? ??????? 640-->
                <a href="#" class="main-menu-small-btn"></a>
                <div id="st-accordion" class="st-accordion">
                    <ul>
                        <li>
                            <a href="#">О ФЛП<span class="st-arrow">Open or Close</span></a>
                            <div class="st-content">
                                <div class="sub-small-main-menu">
                                    <ul>
                                        <li><a asp-controller="Home" asp-action="About" target="_blank">О Нас</a></li>
                                        <li><a asp-action="Contact" asp-controller="Home">Свяжитесь с нами / Офисы </a></li>
                                        <li><a asp-controller="Home" asp-action="OfficeInWorld">Офисы в мире</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li><a href="https://fbosite.foreverliving.com/distribNew/Login.do?store=KAZ&langID=ru" class="no-arrow" target="_blank">Сколько у Вас КБ</a></li>
                        <li><a href="http://foreverliving.com/discoverforever" class="no-arrow" target="_blank">ФЛП Медиа</a></li>
                        <li>
                            <div>
                                <a href="#">Материалы<span class="st-arrow">Open or Close</span></a>
                                <div class="st-content">
                                    <div class="sub-small-main-menu">
                                        <ul>
                                            <li><a href="#">Прайс-Лист</a></li>
                                            <li><a href="#">Сертификаты</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- ?????????? ??? ??????? 640-->
            </nav>
            <div class="cart-field">
                <div class="cart" data-dropdown="#cart-panel">
                    <a href="#" class="cart-icon">&nbsp;>>>></a>
                    <span class="counter"><i><div id="cart_count">34</div></i>шт.</span>
                    <input type="hidden" id="hid_ccount" value="15">
                    <a href="#" class="arrow-icon"></a>
                </div>
            </div>

        </div>
        <div class="clear"></div>
    </div>
    <div class="container myaccount">
        <div class="row">
            <h4>МОЙ ПРОФИЛЬ  Новый ФБО</h4>
            <div class="block span6 acc-info">
                <h5>ЛИЧНЫЕ ДАННЫЕ</h5>
                <div class="info">
                    Здесь Вы можете изменить личные данные, адрес, адрес доставки и электронный адрес.
                    <form method="post" asp-antiforgery="true" asp-action="EditeUserProfile" asp-route-userId="@Model" onclick="SubmitForm(this)" class="arr-btn">Изменить личные данные</form>
                </div>
            </div>
            <div class="block span6 acc-history">
                <h5>ИСТОРИЯ ЗАКУПОК</h5>
                <div class="info">
                    Здесь Вы можете посмотреть все Ваши покупки, которые Вы совершали ранее в интернете.
                    <a href="#" class="arr-btn">История закупок</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="block span6 acc-pass">
                <h5>Изменить пароль</h5>
                <div class="info">
                    Регулярно изменяйте свой пароль.
                    <a href="#" class="arr-btn">Изменить пароль</a>
                </div>
            </div>
            <div class="block span6 acc-webhistory">
                <h5>Реферальная ссылка</h5>
                <div class="info">
                    Эта реферальная ссылка для Ваших новых партнеров, чтобы они могли загеристрироваться на сайте интернет-магазина, указав Вас своим спонсором.<br><br>
                    <strong>http://www.flpkgz.com/?ref=1172</strong>
                </div>
            </div>
        </div>
    </div>
}

@section Footer
    {
    <div class="footer-menu-field">
        <div class="footer-menu__center">
            <ul class="footer-menu">
                <li><a asp-action="About" asp-controller="Home" target="_blank">Контакты</a></li> | 
                <li>&copy; 2018 Форевер Ливинг Продактс Кыргызстан</li>
            </ul>
        </div>
    </div>
    <div class="footer-line"></div>
    <div class="footer-logo-field">
        <img src="/sources/f-logo1.png" alt="">
        <img src="/sources/f-logo2.png" alt="">
        <img src="/sources/f-logo3.png" alt="">
        <img src="/sources/f-logo4.png" alt="">
        <img src="/sources/f-logo7.png" alt="">
    </div>
}

@section Script
    {
    <script src="~/js/site.js"></script>
    <script>
        function SubmitForm(oForm) {
            oForm.submit();
        }
    </script>
}
