﻿
@using System.Globalization
@using Flpz_Project.Data
@model Flpz_Project.Models.AccountViewModels.JoinViewModel
@inject ApplicationDbContext db
@{
    ViewData["Title"] = "Check";
    string regionName = db.Regions.FirstOrDefault(r => r.Id == Model.States).RegionName;
}

@section Body
    {
    <div class="top-line">
        <div class="container">
            <div class="span2 select-lang-panel">
                <a href="http://www.flptr.com" class="flag-01" title="Turkey">&nbsp;</a>
                <a href="http://www.flpkz.kz" class="flag-02" target="_blank" title="Kazakhstan">&nbsp;</a>
                <a href="http://www.foreverliving.az" class="flag-03" target="_blank" title="Azerbaijan">&nbsp;</a>
                <a href="http://www.foreverliving.kg" class="flag-04" target="_blank" title="Kyrgyzstan">&nbsp;</a>
                <a href="https://www.foreverliving.com/distribNew/Login.do?store=IRQ" class="flag-05" target="_blank" title="Iraq">&nbsp;</a>
            </div>
            <div class="central" style="height: 20px"></div>
            <div class="span4">
                <div class="top-navbar">
                    <nav>
                        <ul class="nav">
                            <li><a href="/">ГЛАВНАЯ</a></li>
                        </ul>
                    </nav>
                </div>
                <a href="#" class="show-small-menu"></a>
                <ul class="small-menu">
                    <li><a href="/">ГЛАВНАЯ</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <header>
            <div class="row">
                <div class="span4 logotype">
                    <a href="/" class="logo"></a>
                </div>
                <div class="span8">
                    <div class="social-panel">
                        <span>Социальные сети:</span>
                        <a asp-controller="Home" asp-action="Facebook" title="Facebook" class="icon-face" target="_blank"></a>
                        <a href="#" title="Twitter" class="icon-tw" target="_blank"></a>
                        <a href="#" title="YouTube" class="icon-youtube" target="_blank"></a>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="main-navigation-field main-navigation-field-index">
        <div class="container">
            <nav>
                <ul class="main-navigation">
                    <li>
                        <a href="#">О ФЛП</a>
                        <div class="sub-navigation panel_01">
                            <ul class="sub-navigation__menu">
                                <li><a asp-controller="Home" asp-action="About">О Нас</a></li>
                                <li><a asp-action="Contact" asp-controller="Home">Свяжитесь с нами / Офисы </a></li>
                                <li><a asp-controller="Home" asp-action="OfficeInWorld">Офисы в мире</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <!-- ?????????? ??? ??????? 640-->
                <a href="#" class="main-menu-small-btn"></a>
                <div id="st-accordion" class="st-accordion">
                    <ul>
                        <li>
                            <a href="#">О ФЛП<span class="st-arrow">Open or Close</span></a>
                            <div class="st-content">
                                <div class="sub-small-main-menu">
                                    <ul>
                                        <li><a asp-action="About" asp-controller="Home">О Нас</a></li>
                                        <!--li><a href="/go/?go=flpinmedia">Basýnda FLP</a></li-->
                                        <li><a asp-action="Contact" asp-controller="Home">Свяжитесь с нами / Офисы </a></li>
                                        <li><a asp-controller="Home" asp-action="OfficeInWorld">Офисы в мире</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- ?????????? ??? ??????? 640-->
            </nav>
        </div>
        <div class="clear"></div>
    </div>
    <div class="container anket-poll">
        <div class="span12 message">
            <i class="icon-01">Важно!</i>
            <span class="red">Ваша регистрация будет оформлена на <strong>@DateTime.Now.ToString("MMMM", CultureInfo.GetCultureInfo("ru-ru"))</strong> месяц.</span>
        </div>
        <div class="row">
            <div class="text anket">
                <h4 class="anket-name">Спасибо @Model.FirstName&nbsp;@Model.LastName,</h4>
                <p>Обязуюсь отправить заполненный оригинал Договора купли-продажи в головной офис ФЛП в течение трех календарных дней по почте на адрес компании. В случае не отправления мной оригинала Договора в течение пяти календарных дней признаю, что регистрация и заказ, выполненные через сайт, будут аннулированы.</p>

                <div class="anket-row">
                    <h3>Персональные данные</h3>
                    <div class="anket-data">
                        <p>Имя: <strong>@Model.FirstName</strong></p>
                        <p>Отчество: <strong>@Model.MiddleName</strong></p>
                        <p>Фамилия: <stong>@Model.LastName</stong></p>
                        <p>Дата рождения: <strong>@Model.BirthDay/@Model.BirthMonth/@Model.BirthYear</strong></p>
                        <p>Номер удостоверение: <strong>@Model.PassportID</strong></p>
                        <p>ИИН РК /  для нерезидентов налоговый номер: <strong>@Model.PrimaryIIN</strong></p>
                    </div>
                </div>

                <div class="anket-row">
                    <h3>Контактная информация</h3>
                    <div class="anket-data">
                        <p>Адрес: <strong>@Model.Address1</strong></p>
                        <p class="emp">: @Model.Address2</p>
                        <p class="emp">: @Model.Address3</p>
                        <p class="emp">: @Model.Address4</p>
                        <p>Страна: <strong>@Model.Country</strong></p>
                        <p>Область: <strong>@regionName</strong></p>
                        <p>Город/Район: <strong>@Model.City</strong></p>
                        <p>Почтовый индекс: <strong>@Model.Postal</strong></p>
                        <p>Мобильный телефон: <strong>@Model.PhoneNumber</strong></p>
                        <p>Домашний телефон: <strong>@Model.AltPhone</strong></p>
                        <p>Email: <strong>@Model.Email</strong></p>
                    </div>
                </div>

                <div class="anket-row">
                    <h3>Банковские реквизиты</h3>
                    <div class="anket-data">
                        <p>Наименование банка: <strong>@Model.Custom1</strong></p>
                        <p>Филиал:  <strong>@Model.Custom2</strong></p>
                        <p>Номер счета: <strong>@Model.Custom3</strong></p>
                    </div>
                </div>

                <div class="anket-row">
                    <h3>Ваш новый ID номер.</h3>
                    <div class="anket-data">
                        <p>Ваш новый ID номер: <strong>@Model.DistId</strong></p>
                    </div>
                </div>

                <div class="anket-row">
                    <h3>Спонсор</h3>
                    <div class="anket-data">
                        <p><strong>&nbsp;</strong> </p>
                        <p>Email: <strong></strong></p>
                        <p>ID Номер: <strong>@Model.SponsorId</strong></p>
                    </div>
                </div>
                <form id="confirmAppForm" name="confirmAppForm" method="post" asp-action="Joins" asp-antiforgery="true">
                    <div class="anket-row">
                        <p>
                            <input name="acceptTermsAndConditions" type="checkbox" id="acceptTermsAndConditions">
                            <a asp-action="Terms" target="_blank" class="terms">Я принимаю условия и правила.</a>
                        </p>
                        <p>
                            <input name="acceptsales" type="checkbox" id="acceptsales">
                            <a asp-action="Sales_Agreement" target="_blank" class="terms">Я принимаю условия договора купли и продажи.</a> [<a href="/account/GetPdf?folder=downloads&secondFolder=docs&fileName=Agree_Sales.pdf" target="_blank">Версия для печати</a>]
                        </p>
                    </div>
                    <input name="firstName" type="hidden" id="firstName" value="@Model.FirstName">
                    <input name="middleName" type="hidden" id="middleName" value="@Model.MiddleName">
                    <input name="lastName" type="hidden" id="lastName" value="@Model.LastName">
                    <input name="birthDay" type="hidden" id="birthDay" value="@Model.BirthDay">
                    <input name="birthMonth" type="hidden" id="birthMonth" value="@Model.BirthMonth">
                    <input name="birthYear" type="hidden" id="birthYear" value="@Model.BirthMonth">
                    <input name="passportID" type="hidden" id="passportID" value="@Model.PassportID">
                    <input name="primaryIIN" type="hidden" id="primaryIIN" value="@Model.PrimaryIIN">
                    <input name="address1" type="hidden" id="address1" value="@Model.Address1">
                    <input name="address2" type="hidden" id="address2" value="@Model.Address2">
                    <input name="address3" type="hidden" id="address3" value="@Model.Address3">
                    <input name="address4" type="hidden" id="address4" value="@Model.Address4">
                    <input name="city" type="hidden" id="city" value="@Model.City">
                    <input name="states" type="hidden" id="states" value="@Model.States">
                    <input name="country" type="hidden" id="country" value="@Model.Country">
                    <input name="postal" type="hidden" id="postal" value="@Model.Postal">
                    <input name="phoneNumber" type="hidden" id="phoneNumber" value="@Model.PhoneNumber">
                    <input name="altPhone" type="hidden" id="altPhone" value="@Model.AltPhone">
                    <input name="email" type="hidden" id="email" value="@Model.Email">
                    <input name="custom1" type="hidden" id="custom1" value="@Model.Custom1">
                    <input name="custom2" type="hidden" id="custom2" value="@Model.Custom2">
                    <input name="custom3" type="hidden" id="custom3" value="@Model.Custom3">
                    <input name="distId" type="hidden" id="distId" value="@Model.DistId">
                    <input name="sponsorId" type="hidden" id="sponsorId" value="@Model.SponsorId">
                    <input name="secondProcessing" type="hidden" value="Second procesing">
                    

                    <div class="anket-row">
                        <a href="javascript:;" onclick="return validsend(document.getElementById('confirmAppForm'));" class="cart-next-btn">Подтвердить регистрацию<i></i></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

@section Footer
    {
    <div class="footer-menu-field">
        <div class="footer-menu__center">
            <ul class="footer-menu">
                <li><a asp-action="Contact" asp-controller="Home">Контакты</a></li> |
                <li>&copy; @DateTime.Now.Year Форевер Ливинг Продактс Кыргызстан</li>
            </ul>
        </div>
    </div>
    <div class="footer-line"></div>
    <div class="footer-logo-field">
        <img src="/sources/f-logo1.png" alt="">
        <img src="/sources/f-logo2.png" alt="">
        <img src="/sources/f-logo3.png" alt="">
        <img src="/sources/f-logo4.png" alt="">
        <img src="/sources/f-logo7.png" alt="">
    </div>
}

@section Script
    {
    <script src="~/js/site.js"></script>
}