﻿
@using Microsoft.Data.Edm
@model Members
@{
    ViewData["Title"] = "Успешное подверждение почты";
}

@section Body
    {
    <div class="top-line">
        <div class="container">
            <div class="span2 select-lang-panel">
                <a href="http://www.flptr.com" class="flag-01" title="Turkey">&nbsp;</a>
                <a href="http://www.flpkz.kz" class="flag-02" target="_blank" title="Kazakhstan">&nbsp;</a>
                <a href="http://www.foreverliving.az" class="flag-03" target="_blank" title="Azerbaijan">&nbsp;</a>
                <a href="http://www.foreverliving.kg" class="flag-04" target="_blank" title="Kyrgyzstan">&nbsp;</a>
                <a href="https://www.foreverliving.com/distribNew/Login.do?store=IRQ" class="flag-05" target="_blank" title="Iraq">&nbsp;</a>
            </div>
            <div class="central" style="height: 20px"></div>
            <div class="span4">
                <div class="top-navbar">
                    <nav>
                        <ul class="nav">
                            <li><a href="/">ГЛАВНАЯ</a></li>
                        </ul>
                    </nav>
                </div>
                <a href="#" class="show-small-menu"></a>
                <ul class="small-menu">
                    <li><a href="/">ГЛАВНАЯ</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <header>
            <div class="row">
                <div class="span4 logotype">
                    <a href="/" class="logo"></a>
                </div>
                <div class="span8">
                    <div class="social-panel">
                        <span>Социальные сети:</span>
                        <a asp-controller="Home" asp-action="Facebook" title="Facebook" class="icon-face" target="_blank"></a>
                        <a href="#" title="Twitter" class="icon-tw" target="_blank"></a>
                        <a href="#" title="YouTube" class="icon-youtube" target="_blank"></a>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="main-navigation-field main-navigation-field-index">
        <div class="container">
            <nav>
                <ul class="main-navigation">
                    <li>
                        <a href="#">О ФЛП</a>
                        <div class="sub-navigation panel_01">
                            <ul class="sub-navigation__menu">
                                <li><a asp-controller="Home" asp-action="About">О Нас</a></li>
                                <li><a asp-action="Contact" asp-controller="Home">Свяжитесь с нами / Офисы </a></li>
                                <li><a asp-controller="Home" asp-action="OfficeInWorld">Офисы в мире</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <!-- ?????????? ??? ??????? 640-->
                <a href="#" class="main-menu-small-btn"></a>
                <div id="st-accordion" class="st-accordion">
                    <ul>
                        <li>
                            <a href="#">О ФЛП<span class="st-arrow">Open or Close</span></a>
                            <div class="st-content">
                                <div class="sub-small-main-menu">
                                    <ul>
                                        <li><a asp-action="About" asp-controller="Home">О Нас</a></li>
                                        <li><a asp-action="Contact" asp-controller="Home">Свяжитесь с нами / Офисы </a></li>
                                        <li><a asp-controller="Home" asp-action="OfficeInWorld">Офисы в мире</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- ?????????? ??? ??????? 640-->
            </nav>
        </div>
        <div class="clear"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="text anket forgot">
                <h4 class="anket-name">Поздравляем!!</h4>
                <p>
                    Уважаемый-ая, @Model.Flp_name&nbsp;@Model.Flp_surname (@Model.Flp_username),<br>
                    Вы успешно активировали код.
                </p>
            </div>
        </div>
    </div>
}

@section Footer
    {
    <div class="footer-menu-field">
        <div class="footer-menu__center">
            <ul class="footer-menu">
                <li><a asp-action="Contact" asp-controller="Home">Контакты</a></li> |
                <li>&copy; @DateTime.Now.Year Форевер Ливинг Продактс Кыргызстан</li>
            </ul>
        </div>
    </div>
    <div class="footer-line"></div>
    <div class="footer-logo-field">
        <img src="/sources/f-logo1.png" alt="">
        <img src="/sources/f-logo2.png" alt="">
        <img src="/sources/f-logo3.png" alt="">
        <img src="/sources/f-logo4.png" alt="">
        <img src="/sources/f-logo7.png" alt="">
    </div>
}

@section Script
    {
    <script src="~/js/site.js"></script>
}