﻿
@model Flpz_Project.Models.AccountViewModels.JoinViewModel
@using System.Globalization
@{
    ViewData["Title"] = "Регистрация нового предпринимателя";
}

@section Body
    {
    <div class="top-line">
        <div class="container">
            <div class="span2 select-lang-panel">
                <a href="http://www.flptr.com" class="flag-01" title="Turkey">&nbsp;</a>
                <a href="http://www.flpkz.kz" class="flag-02" target="_blank" title="Kazakhstan">&nbsp;</a>
                <a href="http://www.foreverliving.az" class="flag-03" target="_blank" title="Azerbaijan">&nbsp;</a>
                <a href="http://www.foreverliving.kg" class="flag-04" target="_blank" title="Kyrgyzstan">&nbsp;</a>
                <a href="https://www.foreverliving.com/distribNew/Login.do?store=IRQ" class="flag-05" target="_blank" title="Iraq">&nbsp;</a>
            </div>
            <div class="central" style="height: 20px">Регистрация</div>
            <div class="span4">
                <div class="top-navbar">
                    <nav>
                        <ul class="nav">
                            <li><a href="/">ГЛАВНАЯ</a></li>
                        </ul>
                    </nav>
                </div>
                <a href="#" class="show-small-menu"></a>
                <ul class="small-menu">
                    <li><a href="/">ГЛАВНАЯ</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <header>
            <div class="row">
                <div class="span4 logotype">
                    <a href="/" class="logo"></a>
                </div>
                <div class="span8">
                    <div class="social-panel">
                        <span>Социальные сети:</span>
                        <a asp-controller="Home" asp-action="Facebook" title="Facebook" class="icon-face" target="_blank"></a>
                        <a href="#" title="Twitter" class="icon-tw" target="_blank"></a>
                        <a href="#" title="YouTube" class="icon-youtube" target="_blank"></a>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="main-navigation-field main-navigation-field-index">
        <div class="container">
            <nav>
                <ul class="main-navigation">
                    <li>
                        <a href="#">О ФЛП</a>
                        <div class="sub-navigation panel_01">
                            <ul class="sub-navigation__menu">
                                <li><a asp-controller="Home" asp-action="About">О Нас</a></li>
                                <li><a asp-action="Contact" asp-controller="Home">Свяжитесь с нами / Офисы </a></li>
                                <li><a asp-controller="Home" asp-action="OfficeInWorld">Офисы в мире</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <!-- ?????????? ??? ??????? 640-->
                <a href="#" class="main-menu-small-btn"></a>
                <div id="st-accordion" class="st-accordion">
                    <ul>
                        <li>
                            <a href="#">О ФЛП<span class="st-arrow">Open or Close</span></a>
                            <div class="st-content">
                                <div class="sub-small-main-menu">
                                    <ul>
                                        <li><a asp-action="About" asp-controller="Home">О Нас</a></li>
                                        <!--li><a href="/go/?go=flpinmedia">Basýnda FLP</a></li-->
                                        <li><a asp-action="Contact" asp-controller="Home">Свяжитесь с нами / Офисы </a></li>
                                        <li><a asp-controller="Home" asp-action="OfficeInWorld">Офисы в мире</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- ?????????? ??? ??????? 640-->
            </nav>
        </div>
        <div class="clear"></div>
    </div>

    <div class="container anket-poll">
        <div class="span12 message">
            <i class="icon-01">Важно!</i>
            <span class="red">Ваша регистрация будет оформлена на <strong>@DateTime.Now.ToString("MMMM", CultureInfo.GetCultureInfo("ru-ru"))</strong> месяц.<br>ВНИМАНИЕ! В данном разделе производится регистрация новых Предпринимателей Форевер (FBO)!</span>
        </div>

        <div class="row">
            <div class="text anket">
                <h4 class="anket-name">Анкета заявителя</h4>
                <p>* Обязательные поля для заполнения</p>
                <form id="anket" asp-action="Joins" asp-controller="Account" class="register-form" method="post" asp-antiforgery="true">
                    <div id="anket-accordeon" class="anket-accordeon">
                        <ul>
                            <li style="overflow:visible !important">
                                <a href="#" id="numberA1">Персональные данные<span class="st-arrow"></span></a>
                                <div class="st-content">
                                    <div class="register-row">
                                        <table class="registration-table">
                                            <tr>
                                                <td><label for="firstName">* Имя</label></td>
                                                <td>
                                                    <input type="text" name="firstName" id="firstName" class="validate" data-valid="not_empty" value="">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><label for="middleName">Отчество</label></td>
                                                <td><input name="middleName" type="text" id="middleName" value=""></td>
                                            </tr>
                                            <tr>
                                                <td><label for="lastName">* Фамилия</label></td>
                                                <td><input name="lastName" type="text" class="validate" id="lastName" value="" data-valid="not_empty"></td>
                                            </tr>
                                            <tr>
                                                <td><label for="birthDay">* Дата рождения</label></td>
                                                <td class="select135">
                                                    <input type="number" name="birthDay" id="birthDay" class="input45 validate" value="" placeholder="День" min="1" data-valid="not_empty is_numeric" maxlength="2">
                                                    <select name="birthMonth" class="selectbox" id="birthMonth">
                                                        <option value="01">Январь</option>
                                                        <option value="02">Февраль</option>
                                                        <option value="03">Март</option>
                                                        <option value="04">Апрель</option>
                                                        <option value="05">Май</option>
                                                        <option value="06">Июнь</option>
                                                        <option value="07">Июль</option>
                                                        <option value="08">Август</option>
                                                        <option value="09">Сентябрь</option>
                                                        <option value="10">Октябрь</option>
                                                        <option value="11">Ноябрь</option>
                                                        <option value="12">Декабрь</option>
                                                    </select>
                                                    <select name="birthYear" class="selectbox" id="birthYear">

                                                        <option value="2008">2008</option>

                                                        <option value="2007">2007</option>

                                                        <option value="2006">2006</option>

                                                        <option value="2005">2005</option>

                                                        <option value="2004">2004</option>

                                                        <option value="2003">2003</option>

                                                        <option value="2002">2002</option>

                                                        <option value="2001">2001</option>

                                                        <option value="2000">2000</option>

                                                        <option value="1999">1999</option>

                                                        <option value="1998">1998</option>

                                                        <option value="1997">1997</option>

                                                        <option value="1996">1996</option>

                                                        <option value="1995">1995</option>

                                                        <option value="1994">1994</option>

                                                        <option value="1993">1993</option>

                                                        <option value="1992">1992</option>

                                                        <option value="1991">1991</option>

                                                        <option value="1990">1990</option>

                                                        <option value="1989">1989</option>

                                                        <option value="1988">1988</option>

                                                        <option value="1987">1987</option>

                                                        <option value="1986">1986</option>

                                                        <option value="1985">1985</option>

                                                        <option value="1984">1984</option>

                                                        <option value="1983">1983</option>

                                                        <option value="1982">1982</option>

                                                        <option value="1981">1981</option>

                                                        <option value="1980">1980</option>

                                                        <option value="1979">1979</option>

                                                        <option value="1978">1978</option>

                                                        <option value="1977">1977</option>

                                                        <option value="1976">1976</option>

                                                        <option value="1975">1975</option>

                                                        <option value="1974">1974</option>

                                                        <option value="1973">1973</option>

                                                        <option value="1972">1972</option>

                                                        <option value="1971">1971</option>

                                                        <option value="1970">1970</option>

                                                        <option value="1969">1969</option>

                                                        <option value="1968">1968</option>

                                                        <option value="1967">1967</option>

                                                        <option value="1966">1966</option>

                                                        <option value="1965">1965</option>

                                                        <option value="1964">1964</option>

                                                        <option value="1963">1963</option>

                                                        <option value="1962">1962</option>

                                                        <option value="1961">1961</option>

                                                        <option value="1960">1960</option>

                                                        <option value="1959">1959</option>

                                                        <option value="1958">1958</option>

                                                        <option value="1957">1957</option>

                                                        <option value="1956">1956</option>

                                                        <option value="1955">1955</option>

                                                        <option value="1954">1954</option>

                                                        <option value="1953">1953</option>

                                                        <option value="1952">1952</option>

                                                        <option value="1951">1951</option>

                                                        <option value="1950">1950</option>

                                                        <option value="1949">1949</option>

                                                        <option value="1948">1948</option>

                                                        <option value="1947">1947</option>

                                                        <option value="1946">1946</option>

                                                        <option value="1945">1945</option>

                                                        <option value="1944">1944</option>

                                                        <option value="1943">1943</option>

                                                        <option value="1942">1942</option>

                                                        <option value="1941">1941</option>

                                                        <option value="1940">1940</option>

                                                        <option value="1939">1939</option>

                                                        <option value="1938">1938</option>

                                                        <option value="1937">1937</option>

                                                        <option value="1936">1936</option>

                                                        <option value="1935">1935</option>

                                                        <option value="1934">1934</option>

                                                        <option value="1933">1933</option>

                                                        <option value="1932">1932</option>

                                                        <option value="1931">1931</option>

                                                        <option value="1930">1930</option>

                                                        <option value="1929">1929</option>

                                                        <option value="1928">1928</option>

                                                        <option value="1927">1927</option>

                                                        <option value="1926">1926</option>

                                                        <option value="1925">1925</option>

                                                        <option value="1924">1924</option>

                                                        <option value="1923">1923</option>

                                                        <option value="1922">1922</option>

                                                        <option value="1921">1921</option>

                                                        <option value="1920">1920</option>

                                                        <option value="1919">1919</option>

                                                        <option value="1918">1918</option>

                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><label for="passportID">* Номер удостоверение</label></td>
                                                <td><input name="passportID" type="text" class="validate" id="passportID" value="" data-valid="not_empty"></td>
                                            </tr>
                                            <tr>
                                                <td><label for="primaryIIN">* ИИН КР /  для нерезидентов налоговый номер</label></td>
                                                <td><input name="primaryIIN" type="text" class="validate" id="primaryIIN" value="" maxlength="12" data-valid="not_empty maxl-12 minl-12 is_numeric"></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td><a class="anket-nex-btn" onclick="javascript:trigAcc(1);">Далее</a></td>
                                            </tr>

                                        </table>

                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#" id="numberA2">Контактная информация<span class="st-arrow"></span></a>
                                <div class="st-content">
                                    <p class="register-text">* (Обязательно укажите полные контактные данные.)</p>
                                    <table class="registration-table">
                                        <tr>
                                            <td><label for="address1">* Адрес</label></td>
                                            <td><input name="address1" type="text" class="input300 validate" id="address1" value="" data-valid="not_empty"></td>
                                        </tr>
                                        <tr>
                                            <td><label for="address2">*</label></td>
                                            <td><input name="address2" type="text" class="input300 validate" id="address2" value="" data-valid="not_empty"></td>
                                        </tr>
                                        <tr>
                                            <td><label for="address3"></label></td>
                                            <td><input name="address3" type="text" class="input300" id="address3" value=""></td>
                                        </tr>
                                        <tr>
                                            <td><label for="address4"></label></td>
                                            <td><input name="address4" type="text" class="input300" id="address4" value=""></td>
                                        </tr>
                                        <tr>
                                            <td><label for="states">* Область</label></td>
                                            <td class="select200">
                                                <select name="states" asp-items="@ViewBag.Region" id="states" size="1" class="selectbox" onChange="getState(this.value);"></select>
                                                <input type="hidden" name="state">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label for="city">* Город/Район</label></td>
                                            <td class="select200">
                                                <div id="statediv">
                                                    <select id="city" name="city" class="selectbox"><option>Выберите область</option></select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label for="country">* Страна</label></td>
                                            <td class="select200">
                                                <select name="country" id="country" class="selectbox">
                                                    <option value="Kyrgyzstan">Кыргызстан</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label for="postal">Почтовый индекс</label></td>
                                            <td><input name="postal" type="text" id="postal" value=""></td>
                                        </tr>
                                        <tr>
                                            <td><label for="phoneNumber">* Мобильный телефон</label></td>
                                            <td>
                                                <input name="phoneNumber" type="text" class="validate" id="phoneNumber" value="" data-valid="not_empty">
                                                <span class="hint-text">( Пример: 87271234567 )</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label for="altPhone">Домашний телефон</label></td>
                                            <td><input name="altPhone" type="text" id="altPhone" value=""></td>
                                        </tr>
                                        <tr>
                                            <td><label for="email">* Email</label></td>
                                            <td><input asp-for="Email" type="text" class="validate" id="email" value="" data-valid="email ajax"><br/>
                                                <h3 align="center" style="color: red; font-size: small"><span asp-validation-for="Email"></span></h3></td>
                                            
                                        </tr>
                                        <tr>
                                            <td><label for="emailConfirm">* Еще раз email</label></td>
                                            <td><input name="emailConfirm" type="text" class="validate" id="emailConfirm" value="" data-valid="email"></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td><a class="anket-nex-btn" onclick="javascript:trigAcc(2);">Далее</a></td>
                                        </tr>
                                    </table>
                                </div>
                            </li>
                            <li>
                                <a href="#">Банковские реквизиты<span class="st-arrow"></span></a>
                                <div class="st-content">
                                    <table class="registration-table">
                                        <tr>
                                            <td><label for="custom1">Наименование банка</label></td>
                                            <td><input name="custom1" type="text" id="custom1" value=""></td>
                                        </tr>
                                        <tr>
                                            <td><label for="custom2">Филиал</label></td>
                                            <td><input name="custom2" type="text" id="custom2" value=""></td>
                                        </tr>
                                        <tr>
                                            <td><label for="custom3">Номер счета</label></td>
                                            <td><input name="custom3" type="text" id="custom3" placeholder="KG" value=""></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td><a class="anket-nex-btn" onclick="javascript:trigAcc(3);">Далее</a></td>
                                        </tr>
                                    </table>
                                </div>
                            </li>
                            <li>
                                <a href="#">Ваш новый ID номер и спонсор<span class="st-arrow"></span></a>
                                <div class="st-content">
                                    <p class="register-text register-text-green">Пожалуйста введите Ваш новый ID номер.</p>
                                    <table class="registration-table table-section4">
                                        <tr>
                                            <td><label for="distId" class="label300"><strong>* Ваш новый ID номер</strong></label></td>
                                            <td><input asp-for="DistId" type="text" class="input300 validate" id="distId" value="" maxlength="12" data-valid="not_empty maxl-12 minl-12 is_numeric ajax">
                                                <br />
                                                <h3 align="center" style="color: red; font-size: small"><span asp-validation-for="DistId"></span></h3>
                                            </td>
                                        </tr>
                                    </table>
                                    <p class="register-text register-text-green">Пожалуйста введите ID номер Вашего спонсора.</p>
                                    <table class="registration-table">
                                        <tr>
                                            <td><label for="sponsorId" class="label300"><strong>* ID Номер спонсора </strong></label></td>
                                            <td>
                                                <input name="sponsorId" type="text" class="input300 validate" id="sponsorId" value="" maxlength="12" data-valid="not_empty maxl-12 minl-12 is_numeric">
                                            </td>
                                        </tr>
                                    </table>
                                    <p align="center">Я являюсь совершеннолетним (18 лет) и действую от своего собственного имени.</p>
                                    <div class="register-btn"><input type="submit" value="Далее"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
@section Footer
    {
    <div class="footer-menu-field">
        <div class="footer-menu__center">
            <ul class="footer-menu">
                <li>&copy; @DateTime.Now.Year Форевер Ливинг Продактс Кыргызстан</li>
            </ul>
        </div>
    </div>
    <div class="footer-line"></div>
    <div class="footer-logo-field">
        <img src="/sources/f-logo1.png" alt="">
        <img src="/sources/f-logo2.png" alt="">
        <img src="/sources/f-logo3.png" alt="">
        <img src="/sources/f-logo4.png" alt="">
        <!--img src="/sources/f-logo5.png" alt=""-->
        <img src="/sources/f-logo6.png" alt="">
        <img src="/sources/f-logo7.png" alt="">
    </div>
}
@section Script
    {
    <script type="text/javascript" src="~/js/site.js"></script>
    @Html.Partial("_ValidationScriptsPartial")
}
