﻿
@model Flpz_Project.Models.AccountViewModels.LoginViewModel
@{
    ViewData["Title"] = "Вход в интернет магазин";
}

@section Body
    {
    <div class="container">
        <header>
            <div class="row">
                <div class="span4 logotype">
                    <a href="/" class="logo"></a>
                </div>
                <div class="span8">
                    <div class="social-panel">
                        <span>Социальные сети:</span>
                        <a asp-controller="Home" asp-action="Facebook" class="icon-face" target="_blank"></a>
                        <a href="#" class="icon-tw" target="_blank"></a>
                        <a href="#" class="icon-youtube" target="_blank"></a>
                    </div>

                </div>
            </div>
        </header>
    </div>

    <div class="container">
        <div class="loginbox">
            <h1>
                ВХОД
                <span>Введите номер ID, пароль и Ваш регион</span>

            </h1>
            <form asp-action="Login" onsubmit="return prepareSubmit(this);"  asp-antiforgery="true" method="post">
                <label>
                    <span class="lbl">Номер ID</span>
                    <input asp-for="LogonId" type="text" id="logonId" value="" maxlength="12" />
                    <span class="sample">Пример 007000000000</span>
                </label>
                <label>
                    <span class="lbl">Пароль</span>
                    <input asp-for="LogonPassword" type="password" id="logonPassword" />
                    <span class="sample">Пример ABC0DEF1</span>
                </label>
                <span class="pad-left">
                    <input type="submit" name="submitButton" value="Войти" class="arr-btn cart-next-btn"/>
                    <a asp-action="PasswordRecovery" class="forgotpass">Забыли пароль?</a>
                    <a asp-action="Select" class="forgotpass">Регистрация на сайт</a>
                </span>
            </form>
        </div>
    </div>
}

@section Footer
    {
    <div class="footer-menu-field nobg">
        <div class="footer-menu__center">
            <ul class="footer-menu">
                <li><a asp-controller="Home" asp-action="Contact">Контакты</a></li>
                <li>&copy; @DateTime.Now.Year Форевер Ливинг Продактс Кыргызстан</li>
            </ul>
        </div>
    </div>
}

@section Script
{
    <script src="~/js/site.js"></script>
}