﻿
@model Flpz_Project.Models.AccountViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Регистрация действующего предпринимателя";
}

@section Body
    {
    <div class="top-line">
        <div class="container">
            <div class="span2 select-lang-panel">
                <a href="http://www.flptr.com" class="flag-01" title="Turkey">&nbsp;</a>
                <a href="http://www.flpkz.kz" class="flag-02" target="_blank" title="Kazakhstan">&nbsp;</a>
                <a href="http://www.foreverliving.az" class="flag-03" target="_blank" title="Azerbaijan">&nbsp;</a>
                <a href="http://www.foreverliving.kg" class="flag-04" target="_blank" title="Kyrgyzstan">&nbsp;</a>
                <a href="https://www.foreverliving.com/distribNew/Login.do?store=IRQ" class="flag-05" target="_blank" title="Iraq">&nbsp;</a>
            </div>
            <div class="central" style="height: 20px">Регистрация</div>
            <div class="span4">
                <div class="top-navbar">
                    <nav>
                        <ul class="nav">
                            <li><a href="/">ГЛАВНАЯ</a></li>
                        </ul>
                    </nav>
                </div>
                <a href="#" class="show-small-menu"></a>
                <ul class="small-menu">
                    <li><a href="/">ГЛАВНАЯ</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <header>
            <div class="row">
                <div class="span4 logotype">
                    <a href="/" class="logo"></a>
                </div>
                <div class="span8">
                    <div class="social-panel">
                        <span>Социальные сети:</span>
                        <a asp-action="Facebook" asp-controller="Home" title="Facebook" class="icon-face" target="_blank"></a>
                        <a href="#" title="Twitter" class="icon-tw" target="_blank"></a>
                        <a href="#" title="YouTube" class="icon-youtube" target="_blank"></a>
                    </div>
                </div>
            </div>
        </header>
    </div>	<div class="main-navigation-field main-navigation-field-index">
        <div class="container">
            <nav>
                <ul class="main-navigation">
                    <li>
                        <a href="#">О ФЛП</a>
                        <div class="sub-navigation panel_01">
                            <ul class="sub-navigation__menu">
                                <li><a asp-controller="Home" asp-action="About" target="_blank">О Нас</a></li>
                                <li><a asp-action="Contact" asp-controller="Home">Свяжитесь с нами / Офисы </a></li>
                                <li><a asp-controller="Home" asp-action="OfficeInWorld">Офисы в мире</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <!-- ?????????? ??? ??????? 640-->
                <a href="#" class="main-menu-small-btn"></a>
                <div id="st-accordion" class="st-accordion">
                    <ul>
                        <li>
                            <a href="#">О ФЛП<span class="st-arrow">Open or Close</span></a>
                            <div class="st-content">
                                <div class="sub-small-main-menu">
                                    <ul>
                                        <li><a asp-action="About" asp-controller="Home">О Нас</a></li>
                                        <li><a asp-action="Contact" asp-controller="Home">Свяжитесь с нами / Офисы </a></li>
                                        <li><a asp-controller="Home" asp-action="OfficeInWorld">Офисы в мире</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- ?????????? ??? ??????? 640-->
            </nav>
        </div>
        <div class="clear"></div>
    </div>
    <div class="container">
        <div class="span12 message">
            <i class="icon-01">Важно!</i>
            <span class="red">
                ВНИМАНИЕ! В данном разделе производится регистрация действующих Предпринимателей Форевер (FBO) для интернет заказа!
            </span>
        </div>

        <div class="row">
            <div class="text">
                <p class="canteral">Уважаемые предприниматели, Пожалуйста убедитесь в точности всех данных указанных при регистрации!<br></p>
            </div>
        <form id="anket" name="anket" asp-action="Register" class="register-form" method="post" asp-antiforgery="true">
        <div class="register-row">
            <div class="register-row--title">
                Данные Предпринимателя
            </div>
            <p class="register-text">Примечание: ( * ) поля для обязательного заполнения.</p>
            <table class="registration-table">
                <tr>
                    <td><label for="idNumber"> ID номер *</label></td>
                    <td>
                        <input name="idNumber" type="text" class="input70 validate" id="idNumber" value="007" maxlength="3" data-valid="not_empty maxl-3 minl-3 is_numeric">
                        <input name="idNumber2" type="text" class="input70 validate" id="idNumber2" value="000" maxlength="3" data-valid="not_empty maxl-3 minl-3 is_numeric">
                        <input name="idNumber3" type="text" class="input70 validate" id="idNumber3" maxlength="3" data-valid="not_empty maxl-3 minl-3 is_numeric">
                        <input name="idNumber4" type="text" class="input70 validate" id="idNumber4" maxlength="3" data-valid="not_empty maxl-3 minl-3 is_numeric">
                    </td>
                </tr>
                <tr>
                    <td><label for="rank">Статус</label></td>
                    <td>
                        <select name="rank" id="rank" class="selectbox">
                            <option value="Distributor" selected>Дистрибьютор</option>
                            <option value="Assistant Supervisor">Ассистент супервайзора</option>
                            <option value="Supervisor">Супервайзор</option>
                            <option value="Assistant Manager">Ассистент менеджера</option>
                            <option value="Manager">Менеджер и выше</option>
                        </select>
                    </td>
                </tr>
            </table>

            <div class="clear"></div>
        </div>

        <div class="register-row">
        <div class="register-row--title">
            Данные
        </div>

        <table class="registration-table">
        <tr>
            <td><label for="firstName">Имя *</label></td>
            <td><input type="text" name="firstName" id="firstName" class="validate" data-valid="not_empty"></td>
        </tr>
        <tr>
            <td><label for="lastName">Фамилия *</label></td>
            <td><input type="text" name="lastName" id="lastName" class="validate" data-valid="not_empty"></td>
        </tr>
        <tr>
            <td><label for="iin">ИИН КР / для нерезидентов налоговый номер *</label></td>
            <td><input type="text" name="iin" id="iin" class="validate" data-valid="not_empty is_numeric"></td>
        </tr>
        <tr>
        <td><label for="day">Дата рождения *</label></td>
        <td>
        <input type="text" name="day" id="day" class="input45 validate" value="" placeholder="День" data-valid="not_empty is_numeric" maxlength="2">
        <select name="month" id="month">
            <option value="01">Январь</option>
            <option value="02">Февраль</option>
            <option value="03">Март</option>
            <option value="04">Апрель</option>
            <option value="05">Май</option>
            <option value="06">Июнь</option>
            <option value="07">Июль</option>
            <option value="08">Август</option>
            <option value="09">Сентябрь</option>
            <option value="10">Октябрь</option>
            <option value="11">Ноябрь</option>
            <option value="12">Декабрь</option>
        </select>
        <select name="year" id="year">

            <option value="2008">2008</option>

            <option value="2007">2007</option>

            <option value="2006">2006</option>

            <option value="2005">2005</option>

            <option value="2004">2004</option>

            <option value="2003">2003</option>

            <option value="2002">2002</option>

            <option value="2001">2001</option>

            <option value="2000">2000</option>

            <option value="1999">1999</option>

            <option value="1998">1998</option>

            <option value="1997">1997</option>

            <option value="1996">1996</option>

            <option value="1995">1995</option>

            <option value="1994">1994</option>

            <option value="1993">1993</option>

            <option value="1992">1992</option>

            <option value="1991">1991</option>

            <option value="1990">1990</option>

            <option value="1989">1989</option>

            <option value="1988">1988</option>

            <option value="1987">1987</option>

            <option value="1986">1986</option>

            <option value="1985">1985</option>

            <option value="1984">1984</option>

            <option value="1983">1983</option>

            <option value="1982">1982</option>

            <option value="1981">1981</option>

            <option value="1980">1980</option>

            <option value="1979">1979</option>

            <option value="1978">1978</option>

            <option value="1977">1977</option>

            <option value="1976">1976</option>

            <option value="1975">1975</option>

            <option value="1974">1974</option>

            <option value="1973">1973</option>

            <option value="1972">1972</option>

            <option value="1971">1971</option>

            <option value="1970">1970</option>

            <option value="1969">1969</option>

            <option value="1968">1968</option>

            <option value="1967">1967</option>

            <option value="1966">1966</option>

            <option value="1965">1965</option>

            <option value="1964">1964</option>

            <option value="1963">1963</option>

            <option value="1962">1962</option>

            <option value="1961">1961</option>

            <option value="1960">1960</option>

            <option value="1959">1959</option>

            <option value="1958">1958</option>

            <option value="1957">1957</option>

            <option value="1956">1956</option>

            <option value="1955">1955</option>

            <option value="1954">1954</option>

            <option value="1953">1953</option>

            <option value="1952">1952</option>

            <option value="1951">1951</option>

            <option value="1950">1950</option>

            <option value="1949">1949</option>

            <option value="1948">1948</option>

            <option value="1947">1947</option>

            <option value="1946">1946</option>

            <option value="1945">1945</option>

            <option value="1944">1944</option>

            <option value="1943">1943</option>

            <option value="1942">1942</option>

            <option value="1941">1941</option>

            <option value="1940">1940</option>

            <option value="1939">1939</option>

            <option value="1938">1938</option>

            <option value="1937">1937</option>

            <option value="1936">1936</option>

            <option value="1935">1935</option>

            <option value="1934">1934</option>

            <option value="1933">1933</option>

            <option value="1932">1932</option>

            <option value="1931">1931</option>

            <option value="1930">1930</option>

            <option value="1929">1929</option>

            <option value="1928">1928</option>

            <option value="1927">1927</option>

            <option value="1926">1926</option>

            <option value="1925">1925</option>

            <option value="1924">1924</option>

            <option value="1923">1923</option>

            <option value="1922">1922</option>

            <option value="1921">1921</option>

            <option value="1920">1920</option>

            <option value="1919">1919</option>

            <option value="1918">1918</option>

        </select>
        </td>
        </tr>
        <tr>
            <td><label for="occupation">Профессия</label></td>
            <td><input type="text" name="occupation" id="occupation"></td>
        </tr>
        </table>

        <div class="clear"></div>
        </div>

        <div class="register-row">
            <div class="register-row--title">
                Электронная почта
            </div>

            <p class="important-text">ВАЖНО: Важно, чтобы был указан ваш правильный электронный адрес, потому что вы получите код активации на указанный адрес, без активации вы не сможете совершать покупки на нашем сайте.</p>
            <table class="registration-table">
                <tr>
                    <td><label for="email">E-mail *</label></td>
                    <td><input type="text" asp-for="Email" id="email" class="validate" data-valid="email ajax">
                    </td>
                </tr>
                <tr>
                    <td><label for="emailConfirm">Подтвердите E-mail *</label></td>
                    <td><input type="text" name="emailConfirm" id="emailConfirm" class="validate" data-valid="email"></td>
                </tr>
                <tr>
                    <td><label for="bullettin">Рассылка от ФЛП</label></td>
                    <td class="styled-radio">
                        <span class="desc-label">Хочу</span>
                        <input name="bullettin" type="checkbox" value="true">
                    </td>
                </tr>
            </table>

            <div class="clear"></div>
        </div>

        <div class="register-row">
            <div class="register-row--title">
                Контактная информация
            </div>

            <table class="registration-table">
                <tr>
                    <td class="vat"><label for="address">Ваш адрес *</label></td>
                    <td><textarea name="address" id="address" class="validate" data-valid="not_empty"></textarea></td>
                </tr>

                <tr>
                    <td class="vat"><label for="addressDelivery">Адрес доставки *</label></td>
                    <td><textarea name="addressDelivery" id="addressDelivery" class="validate" data-valid="not_empty"></textarea></td>
                </tr>
                <tr>
                    <td><label for="states">Область *</label></td>
                    <td class="select200">
                        <select name="states" asp-items="@ViewBag.Region" id="states" size="1" class="selectbox" onChange="getState(this.value);"></select>
                        <input type="hidden" name="state">
                    </td>
                </tr>
                <tr>
                    <td><label for="city">Город/Район *</label></td>
                    <td class="select200">
                        <div id="statediv">
                            <select id="city" name="city" class="selectbox">
                                <option>Выберите область</option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><label for="country">Страна *</label></td>
                    <td class="select200">
                        <select name="country" id="select" class="selectbox">
                            <option value="Kyrgyzstan" selected>Кыргызстан</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="postCode">Индекс *</label></td>
                    <td><input type="text" name="postCode" id="postCode" class="validate" data-valid="not_empty"></td>
                </tr>
                <tr>
                    <td><label for="homephoneNumber">Номер телефона (домашний)</label></td>
                    <td>
                        <br class="carry">
                        <i class="bracket-left">(</i>
                        <input type="text" name="homephoneNumber" id="homephoneNumber" class="input50" maxlength="4">
                        <i class="bracket-right">)</i>
                        <input type="text" name="homephoneNumber2" id="homephoneNumber2" class="input200">
                    </td>
                </tr>
                <tr>
                    <td><label for="workphoneNumber">Номер телефона (рабочий)</label></td>
                    <td>
                        <br class="carry">
                        <i class="bracket-left">(</i>
                        <input type="text" name="workphoneNumber" id="workphoneNumber" class="input50" maxlength="4">
                        <i class="bracket-right">)</i>
                        <input type="text" name="workphoneNumber2" id="workphoneNumber2" class="input200">
                    </td>
                </tr>
                <tr>
                    <td><label for="cellphoneNumber">Номер телефона (сотовый)</label></td>
                    <td>
                        <br class="carry">
                        <i class="bracket-left">(</i>
                        <input type="text" name="cellphoneNumber" id="cellphoneNumber" class="input50" maxlength="4">
                        <i class="bracket-right">)</i>
                        <input type="text" name="cellphoneNumber2" id="cellphoneNumber2" class="input200">
                    </td>
                </tr>
            </table>

            <div class="clear"></div>
        </div>

        <div class="register-row">
            <div class="register-row--title">
                Спонсор
            </div>
            <table class="registration-table">
                <tr>
                    <td><label for="sponsorName">Имя &amp; Фамилия Спонсора *</label></td>
                    <td>
                        <input name="sponsorName" type="text" class="validate" id="sponsorName" value="" data-valid="not_empty">
                    </td>
                </tr>
            </table>
            <div class="clear"></div>
        </div>

        <div class="register-row">
            <div class="register-row--title">
                Тип цены *
            </div>
            <p class="register-text">
                * Если Вы Novus Клиент, пожалуйста выберите <strong>Цена Novus Клиента</strong>. <br>
                Если Вы уже приобрели на свой личный ID номер 2 кб в течение двух последовательных месяцев, пожалуйста выберите <strong>Цена Предпринимателя</strong>.
            </p>
            <table class="registration-table">
                <tr>
                    <td><label for="ydfstatus"> Цена</label></td>
                    <td>
                        <select name="ydfstatus" id="ydfstatus" class="selectbox">
                            <option value="1">Цена Novus Клиента</option>
                            <option value="0">Цена Предпринимателя</option>
                        </select>
                    </td>
                </tr>
            </table>
            <div class="clear"></div>
        </div>

        <div class="register-btn">
            <input type="hidden" name="sid" value="896531460">
            <input type="submit" value="Регистрация">
        </div>
        </form>
        </div>
    </div>
}

@section Footer
    {
    <div class="footer-menu-field">
        <div class="footer-menu__center">
            <ul class="footer-menu">
                <li>&copy; @DateTime.Now.Year Форевер Ливинг Продактс Кыргызстан</li>
            </ul>
        </div>
    </div>
    <div class="footer-line"></div>
    <div class="footer-logo-field">
        <img src="/sources/f-logo1.png" alt="">
        <img src="/sources/f-logo2.png" alt="">
        <img src="/sources/f-logo3.png" alt="">
        <img src="/sources/f-logo4.png" alt="">
        <img src="/sources/f-logo7.png" alt="">
    </div>
}

@section Script
{
    <script type="text/javascript" src="~/js/site.js"></script>
}

