﻿
@{
    ViewData["Title"] = "Договор купли-продажи";
}

@section Body
{
    <div class="top-line"></div>
    <div class="container">
    </div>
    <div class="container">
        <div class="row">

            <div class="span12 warning-page">
                <h1>Договор купли-продажи</h1>
                <div class="warning-content">
                    <p align="center"><strong>Договор</strong> <strong>купли-продажи  № </strong><strong>007-000</strong><strong>_________</strong></p>
                    <p>
                        г. Алматы                                                                                        «___»___________ 20____г<br>
                        ТОО «Форевер Ливинг Продактс Кыргызстан» (именуемое в дальнейшем –  «Продавец») в лице Заместителя Генерального Директора, г-на Мехмет  Илькер Ишмен, действующего на основании Доверенности, с одной стороны, и  _______________________________________  (именуемый в дальнейшем – «Предприниматель  Форевер (FBO)»), действующий на основании ____________________, с другой  стороны, совместно именуемые «Стороны», а по отдельности «Сторона», заключили  настоящий договор  купли-продажи  (именуемый в дальнейшем – «Договор») о нижеследующем.
                    </p>
                    <p>
                        <strong>Статья  1. Предмет Договора</strong><br>
                        1.1  Продавец обязуется на основании заказов Предпринимателя Форевер (FBO) продать  продукцию с торговой маркой «Форевер Ливинг Продактс» (Forever Living  Products), «Соня» (Sonya), Flawless by Sonya, (именуемые в дальнейшем –  «Продукция»), а также буклеты, журналы, аннотации и т.д., содержащие описание  Продукции, в соответствии с фактическим ассортиментом, а Предприниматель  Форевер (FBO) обязуется принять заказанную Продукцию и оплатить на условиях  настоящего Договора. <br>
                        <br>
                        <strong>Статья  2. Порядок продажи</strong><br>
                        2.1.  Реализация Продукции Предпринимателю Форевер (FBO) осуществляется на основании  настоящего Договора, а также на основании положений Политики Компании. <br>
                        2.2.  Для покупки Продукции Предприниматель Форевер (FBO) оформляет заказ по форме,  которая определяется Продавцом. Заказ оформляется Предпринимателем Форевер  (FBO) через центральную линию заказа или в отделах продаж Продавца. Согласно  Политике Компании, первичный заказ на приобретение Продукции совершается на  сумму в тенге, эквивалентную не менее 100 (сто) Евро (по курсу, установленному  Компанией). Все последующие заказы должны быть на сумму в тенге, эквивалентную  не менее 50 (пятьдесят) Евро (по курсу, установленному Компанией). Предприниматель  Форевер (FBO) производит оплату Продукции в порядке, установленном настоящим  Договором. <br>
                        2.2.  Продавец обязан передать Предпринимателю Форевер (FBO) заказанную Продукцию, а Предприниматель  Форевер (FBO) принять Продукцию в сроки, предусмотренные внутренними  документами Продавца (включая Политику Компании).<br>
                        2.3.  Если Предприниматель Форевер (FBO) уполномочивает третье лицо на получение  Продукции, то Предприниматель Форевер (FBO) обязан предоставить все необходимые  сведения о таком третьем лице, курьере (перевозчике) при оформлении заказа  письменно. По требованию Компании Предприниматель Форевер (FBO) на такое третье  лицо оформляет нотариально заверенную доверенность.<br>
                        2.4.  Предприниматель Форевер обязуется оформлять новый заказ, только если объем  ранее заказанной Продукции исчерпан более чем на 75%. <br>
                        2.5.  Предприниматель Форевер (FBO) обязуется не осуществлять размещение одного  заказа совместно с третьими лицами, т.е. все заказы должны быть личными  заказами данного Предпринимателя Форевер (FBO), а не нескольких ПРЕДПРИНИМАТЕЛЕМ  ФОРЕВЕР (FBO)Предпринимателей Форевер (FBO).<br>
                        2.6.  Каждый заказ Предпринимателя Форевер (FBO) может быть оформлен только после  полной его оплаты.<br>
                        2.7.  Приемка Продукции по количеству и качеству производится Предпринимателем  Форевер (FBO) в момент получения со склада. Если Предприниматель Форевер (FBO)  при приемке обнаружит, что Продукция не соответствует заказу или ненадлежащего  качества, то Предприниматель Форевер (FBO) немедленно сообщает об этом в  головной офис Продавца. При доставке заказа курьером (перевозчиком), Предприниматель  Форевер (FBO) обязан сообщить о факте несоответствия заказу или ненадлежащего  качества Продукции в течение 24 (двадцати четырех) часов с момента получения  Продукции. Предприниматель Форевер (FBO) обязан составить акт о данном  несоответствии или ненадлежащем качестве Продукции, подписать его с курьером и  предоставить Компании в течение 24 (двадцати четырех) часов с момента получения  указанной Продукции.<br>
                        2.8.  При осуществлении Предпринимателем Форевер (FBO) всех действий, указанных в п.  2.7 настоящего Договора, Продавец обязан осуществить замену Продукции  ненадлежащего качества на качественную Продукцию этого же наименования. <br>
                        2.9.  Переход права собственности и рисков на Продукцию от Продавца к Предпринимателю  Форевер (FBO) или третьему лицу, как указано в п. 2.3 выше, осуществляется с  момента передачи Продукции Предпринимателю Форевер (FBO) или такому третьему  лицу.<br>
                        2.10.  Продавец оставляет за собой право не принимать товар обратно и не возвращать  оплату Предпринимателю Форевер (FBO), за исключением случаев, предусмотренных  законодательством Республики Кыргызстан и настоящим Договором. Предприниматель  Форевер (FBO) имеет право заменить товар на аналогичный в течение 30 (тридцати)  календарных дней после покупки, при условии предоставления оригиналов  документов, подтверждающих факт покупки и оплаты, а также гарантийный бланк. Предприниматель  Форевер (FBO) имеет право вернуть товар в течение 1 (одного) года с момента  покупки, при условии предоставления оригиналов документов, подтверждающих факт  покупки и оплаты. При возврате товара автоматически аннулируется настоящий  Договор купли-продажи и Договор оказания маркетинговых услуг с Предпринимателем  Форевер (FBO). Согласно положениям Политики Компании, Продавец оставляет за  собой право на удержание из суммы возврата следующих денежных средств:
                    </p>
                    <li><p>10% стоимости товара (услуга повторной упаковки,  административные расходы); </p></li>
                    <li><p>Суммы вознаграждений, полученных Предпринимателем Форевер (FBO) по Договору  оказания маркетинговых услуг;</p></li>
                    <li><p>Суммы понесенных транспортных расходов.</p></li>

                    <p>
                        <strong>Статья  3. Цена и порядок расчетов</strong><br>
                        3.1.  Цена на Продукцию устанавливается Продавцом в тенге (эквивалент стоимости  Продукции в Евро, по курсу, установленному Компанией) и отражается в  прайс-листе на день оформления заказа на Продукцию. Оплата за Продукцию  производится в тенге на основании прайс-листа на день оформления заказа на  Продукцию.<br>
                        3.2.  Продавец имеет право до момента оформления заказа изменять цены в одностороннем  порядке. Цены, указанные в печатных изданиях, интернет-сайте или иных  источниках, не являются обязательными для Продавца, так как могут быть  ориентировочными и носить информационный характер.<br>
                        3.3.  Продавец имеет право предоставить Предпринимателю Форевер (FBO) скидку на  Продукцию. Размеры скидок и порядок их предоставления определяются Продавцом и  прописываются в Политике Компании.<br>
                        3.4.  Оплата Продукции производится Предпринимателем Форевер (FBO) через кассу  Продавца, платежным терминалом, банковским переводом или любым другим способом  платежа, установленным Продавцом и не противоречащим законодательству  Республики Кыргызстан.<br>
                        3.5.  Оплата Продукции производится одним платежом на основании счета-фактуры и  накладной на отпуск Продукции, выданных Продавцом Предпринимателю Форевер (FBO)  на соответствующий заказ.<br>
                        3.6.  Предприниматель Форевер (FBO) может осуществлять оплату за Продукцию через  третье лицо. Для этих целей Предприниматель Форевер (FBO) должен выдать такому  лицу нотариально заверенную доверенность. При этом форма оплаты, как указано в  п. 3.4, может быть любой. Продавец оставляет за собой право не принимать оплату  от третьего лица при отсутствии нотариально заверенной доверенности. 
                    </p>
                    <p>
                        <strong>Статья 4. Ответственность Сторон</strong><br>
                        4.1. Каждая из Сторон  обязуется выполнять свои обязательства надлежащим образом, в соответствии с  положениями настоящего Договора, Политики Компании. В случае неисполнения или  ненадлежащего исполнения условий настоящего Договора, Стороны несут  ответственность в соответствии с законодательством Республики Кыргызстан.<strong> </strong><br>
                        <br>
                        <strong>Статья 5. Срок действия</strong><br>
                        5.1.  Настоящий Договор вступает в действие с даты его подписания и после  приобретения Предпринимателем Форевер (FBO) Продукции по первичному заказу  согласно п. 2.2 настоящего Договора.<br>
                        5.2.  Договор заключается сроком на 1 (один) год. Настоящий Договор считается  автоматически пролонгированным на последующий 1 (один) год, если ни одна из  Сторон не заявит в письменной форме о своем намерении прекратить его за 30  (тридцать) рабочих дней до истечения срока его действия.<br>
                        5.3.  Каждая из Сторон может расторгнуть данный Договор путем письменного  уведомления другой Стороны, за 30 (тридцать) рабочих дней до даты его  расторжения. Письменное уведомление  передается через средства связи, обеспечивающие  подтверждение факта и даты его получения (например, заказным письмом с  уведомлением о вручении, специальным курьером).<br>
                        5.4. Продавец в случае  обнаружения несоблюдения Предпринимателем Форевер (FBO) требований Договора  оказания маркетинговых услуг и/или Плана личного развития в одностороннем  порядке расторгает данный Договор на условиях и в сроки, указанные в Договоре  оказания маркетинговых услуг.
                    </p>
                    <p>
                        <strong>Статья  6. Прочие условия</strong><br>
                        6.1.  Дополнения или изменения к настоящему Договору составляются исключительно в  письменной форме и являются неотъемлемой частью Договора. <br>
                        6.2. При  наличии разногласий Сторон в толковании какого-либо  термина или положения настоящего  Договора Стороны руководствуются Политикой Компании.<br>
                        6.3.  Толкование и исполнение настоящего Договора  регулируются правом Республики Кыргызстан.<br>
                        6.4. Все споры и разногласия, которые могут возникнуть  из настоящего Договора или в связи с ним, если они не будут разрешены путем  переговоров, подлежат окончательному урегулированию в суде, в соответствии с  законодательством Республики Кыргызстан.
                    </p>
                    <p>&nbsp;</p>
                    <div class="basket-btn-field">
                        <a href="javascript:;" onClick="self.close();" class="cart-next-btn">Закрыть<i></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Footer
{
    <div class="footer-menu-field">
        <div class="footer-menu__center">
            <ul class="footer-menu"></ul>
        </div>
    </div>
    <div class="footer-logo-field">
        <img src="~/sources/img9.png" alt="">
    </div>
}

@section Script
{
    <script src="~/js/site.js"></script>
}