﻿
@{
    ViewData["Title"] = "УСЛОВИЯ И ПРАВИЛА";
}

@section Body
    {
    <div class="top-line"></div>
    <div class="container">
    </div>
    <div class="container">
        <div class="row">

            <div class="span12 warning-page">
                <h1>УСЛОВИЯ И ПРАВИЛА</h1>
                <div class="warning-content">
                    <p>
                        Я подтверждаю достоверность  вышеуказанных в бланке персональных данных и согласен с тем, что данные будут  направлены в систему компании.  <br>
                        <br>
                        Договор купли-продажи будет  отправлен в Головной офис ФЛП, это обозначает, что после его утверждения, составленный  между мной и ТОО «Форевер Ливинг Продактс» Договор купли-продажи вступает в  силу. <br>
                        Заявляю о том, что до  сегодняшнего дня никто никоем образом меня не спонсировал и, если возможно,  прошу считать действительным моего спонсора. <br>
                        <br>
                        Я не являюсь законным  представителем или сотрудником ТОО «Форевер Ливинг Продактс Кыргызстан», являюсь  независимым Предпринимателем на основе Договора купли-продажи.  Несу ответственность в соответствии с  местными правилами и законодательством РК. <br>
                        <br>
                        Понимаю, что  заработанные мной вознаграждения никак не связаны с везением, с рабочим  временем, а напрямую связаны с построением сети. ФЛП не несет ответственность  связанные с налогами ваших вознаграждений. <br>
                        <br>
                        Данная  предпринимательская деятельность не требует вложений, нет необходимости  создавать складские запасы. Продукция не должна приобретаться для создания  складских запасов.
                    </p>
                    <p>Обязуюсь отправить заполненный  оригинал Договора купли-продажи в головной офис ФЛП в течение трех календарных  дней по почте на адрес компании. В случае не отправления мной оригинала Договора  в течение пяти календарных дней признаю, что регистрация и заказ, выполненные через  сайт, будут аннулированы.</p>
                    <div class="basket-btn-field">
                        <div class="clear"></div>
                        <a href="javascript:;" onClick="self.close();" class="cart-next-btn">Закрыть<i></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Footer
    {
    <div class="footer-menu-field">
        <div class="footer-menu__center">
            <ul class="footer-menu"></ul>
        </div>
    </div>
    <div class="footer-logo-field">
        <img src="~/sources/img9.png" alt="">
    </div>
}

@section Script
    {
    <script src="~/js/site.js"></script>
}
