﻿
#register_new, #register_old{
    background-repeat: no-repeat;
    background-position: 10px bottom;
}

.arr-btn { background: url("/images/ar12.png") no-repeat scroll 117px 9px #87ac22; 

}

.logo {
    background-image: url(/images/logo.png)
}

.footer-menu-field {
    background: #f1f1f1 url(/images/top-line.png) repeat-x top center;
}

.footer-line {
    background: #f1f1f1 url(/images/top-line.png) repeat-x bottom center;
}

.top-line {
    background: #f1f1f1 url(/images/top-line.png) repeat-x bottom center;
}

.icon-01 {
    background: url(/images/icon-01.png);
    background-repeat: no-repeat;
}

@media screen and (min-width: 642px) {
    #register_new {background-image: url(/images/myacc/newfbo.jpg) }
    #register_old { background-image: url(/images/myacc/info.jpg) }
}

.flag-01, .flag-02, .flag-03, .flag-04, .flag-05 {
    background-image: url(/images/flags-sprite.png);
}

.flag-01 {
    background-position: 0px 0px;
}

.icon-face, .icon-tw, .icon-youtube {
    background-image: url(/images/soc-sprite.png)
}