/*! http://responsiveslides.com v1.54 by @viljamis */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100% !important;
  padding: 0;
  margin: 0;
  text-align: center;
  background: #ffffff ;
/*  background: #ffffff url(../images/slider-bg.png) no-repeat top center;*/

  }
.rslides1 {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100% !important;
  padding: 0;
  margin: 0;
  text-align: center;
  background: #07182c url(../sources/dubai_slider-bg.png) no-repeat top center;
  }

.rslides2 {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100% !important;
  padding: 0;
  margin: 0;
  text-align: center;
  background: #ec008c;
  }
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  padding: 0px 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  text-align: center;
  }

.rslides img {
  display: block;
  height: auto;
  width: 70%;
  margin: 0 auto;
  border: 0;
  }

.rslides {
  margin: 0 auto;

  }

.rslides_container {
  position: relative;
  float: left;
  width: 100%;
  }

.centered-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 50%;
  left: 50px;
  opacity: 0.7;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("../images/slider-arrow.png") no-repeat left top;
  margin-top: -45px;
  }

.centered-btns_nav:active {
  opacity: 1.0;
  }

.centered-btns_nav.next {
  left: auto;
  background-position: 0px -64px;
  right: 50px;
  }

.transparent-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 0;
  left: 0;
  display: block;
  background: #fff; /* Fix for IE6-9 */
  opacity: 0;
  filter: alpha(opacity=1);
  width: 48%;
  text-indent: -9999px;
  overflow: hidden;
  height: 91%;
  }

.transparent-btns_nav.next {
  left: auto;
  right: 0;
  }

.large-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  opacity: 0.6;
  text-indent: -9999px;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  background: #000 url("../images/slider-arrow.png") no-repeat left 50%;
  width: 38px;
  }

.large-btns_nav:active {
  opacity: 1.0;
  }

.large-btns_nav.next {
  left: auto;
  background-position: right 50%;
  right: 0;
  }

.centered-btns_nav:focus,
.transparent-btns_nav:focus,
.large-btns_nav:focus {
  outline: none;
  }

.centered-btns_tabs,
.transparent-btns_tabs,
.large-btns_tabs {
  margin-top: -30px;
  z-index: 99;
  position: relative;
  text-align: center;
  }

.centered-btns_tabs li,
.transparent-btns_tabs li,
.large-btns_tabs li {
  display: inline;
  float: none;
  _float: left;
  *float: left;
  margin-right: 5px;
  }

.centered-btns_tabs a,
.transparent-btns_tabs a,
.large-btns_tabs a {
  text-indent: -9999px;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
   -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
     -o-border-radius: 50%;
  background: rgba(255,255,255,0.5);
  }

.centered-btns_here a,
.transparent-btns_here a,
.large-btns_here a {
  background: #fff;
  }
