.selectbox {
	vertical-align: middle;
	cursor: pointer;
}
.selectbox .select {
	width: 225px;
	height: 36px;
	padding: 0 45px 0 10px;
	line-height: 38px;
	color: #333;
	text-shadow: 1px 1px #FFF;
	border-radius: 1px;
	border: 1px solid #d9d9d9;
	box-shadow: inset 0 0 1px rgba(0,0,0,0.3)
}

.select135 .selectbox .select{
	width: 135px;
}

.select200 .selectbox .select{
	width: 200px;
}

.selectbox .select:hover {
}
.selectbox .select:active {
	background: #f5f5f5;
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.15);
}
.selectbox.focused .select {
	border: 1px solid #5794BF;
}
.selectbox .select .text {
	display: block;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.selectbox .trigger {
	position: absolute;
	top: 0;
	right: 0;
	width: 34px;
	height: 100%;
}
.selectbox .trigger .arrow {
	position: absolute;
	top: 17px;
	right: 12px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #000;
	width: 0;
	height: 0;
	overflow: hidden;
	opacity: 0.3;
	filter: alpha(opacity=30);
}
.selectbox:hover .arrow {
	opacity: 1;
	filter: alpha(opacity=100);
}
.selectbox .dropdown {
	top: 33px;
	width: 226px;
	margin: 0;
	padding: 4px 0;
	background: #FFF;
	border: 1px solid #C6CBD0;
	border-radius: 4px;
	box-shadow: 0 2px 10px rgba(0,0,0,0.2);
	font: 14px/18px Arial, Tahoma, sans-serif;
}

.select135 .selectbox .dropdown{
	width: 135px;
}

.select200 .selectbox .dropdown{
	width: 200px;
}

.selectbox li {
	padding: 5px 10px 6px;
	color: #231F20;
}
.selectbox li.selected {
	background: #87ac22;
	color: #FFF;
}
.selectbox li:hover {
	background: #87ac22;
	color: #FFF;
}
.selectbox li.disabled {
	color: #AAA;
}
.selectbox li.disabled:hover {
	background: none;
}


.radio {
	vertical-align: middle;
	width: 20px;
	height: 20px;
	background: url(/images/check.png) no-repeat;
	cursor: pointer;
}

.styled-radio .radio{
	float: left;
	margin-right: 4px;
}

.radio.checked {
  background-position: -20px 0;
}
.radio.disabled {
  background-position: 0 -16px;
}
.radio.checked.disabled {
  background-position: -14px -16px;
}
.radio.focused {
  background-position: 0 -32px;
}
.radio.checked.focused {
  background-position: -14px -32px;
}