﻿* {
    /*transition: all .5s;*/
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
}

@font-face {
    font-family: OpenSans;
    src: url(OpenSans.ttf);
}

@font-face {
    font-family: OpenSansLight;
    src: url(OpenSansLight.ttf);
}

html, body {
    width: 100%;
    font-family: OpenSans;
}
/*CSS GRID
====================*/

.container {
    width: 1170px;
    font-family: OpenSans;
    margin: 0 auto;
    position: relative;
    padding: 0;
}

.row {
    margin-bottom: 15px;
}

    .row:after {
        display: block;
        content: ".";
        height: 0;
        visibility: hidden;
        clear: both;
    }

[class*="span"] {
    float: left;
    margin-right: 30px;
}

    [class*="span"]:last-child {
        margin-right: 0;
        float: right;
    }

.span12 {
    width: 1170px;
}

.span11 {
    width: 1070px;
}

.span10 {
    width: 970px;
}

.span9 {
    width: 870px;
}

.span8 {
    width: 770px;
}

.span7 {
    width: 670px;
}

.span6 {
    width: 570px;
}

.span5 {
    width: 470px;
}

.span4 {
    width: 370px;
}

.span3 {
    width: 270px;
}

.span2 {
    width: 170px;
}

.span1 {
    width: 70px;
}


.offset12 {
    margin-left: 1230px;
}

.offset11 {
    margin-left: 1130px;
}

.offset10 {
    margin-left: 1030px;
}

.offset9 {
    margin-left: 930px;
}

.offset8 {
    margin-left: 830px;
}

.offset7 {
    margin-left: 730px;
}

.offset6 {
    margin-left: 630px;
}

.offset5 {
    margin-left: 530px;
}

.offset4 {
    margin-left: 430px;
}

.offset3 {
    margin-left: 330px;
}

.offset2 {
    margin-left: 230px;
}

.offset1 {
    margin-left: 130px;
}

.clear {
    visibility: hidden;
    height: 0;
    clear: both;
}

/*CSS MAIN
=============================*/

.top-line {
    width: 100%;
    padding: 5px 0 8px;
}

.select-lang-panel {
    float: left;
    margin-top: 4px;
    height: 14px;
}

    .select-lang-panel a:hover {
        text-decoration: none;
    }

.flag-01,
.flag-02,
.flag-03,
.flag-04,
.flag-05 {
    display: inline-block;
    width: 19px;
    height: 13px;
}

.flag-02 {
    background-position: -22px 0px;
}

.flag-03 {
    background-position: -44px 0px;
}

.flag-04 {
    background-position: -67px 0px;
}

.flag-05 {
    background-position: -89px 1px;
}

.top-line .container .central {
    margin: 0 auto;
    width: 400px;
    text-align: center;
}

.top-navbar {
    float: right;
    top: 0px;
    margin-top: -15px;
}

    .top-navbar nav li {
        float: left;
        margin-left: 26px;
    }

.header-navbar {
    float: right;
    margin-top: 33px;
}

    .header-navbar li {
        float: left;
        margin-left: 26px;
    }

        .header-navbar li a {
            padding-right: 10px;
            display: block;
            background: url(/images/m-arrow.png) no-repeat right center;
        }

nav li a {
    color: #656363;
    font-size: 14px;
}
/*
nav li a:hover{
	text-decoration: underline;
}
*/
header {
    padding: 16px 0;
}

.logo {
    display: inline-block;
    width: 305px;
    height: 67px;
}

.social-panel {
    float: right;
}

    .social-panel span {
        display: inline-block;
        float: left;
        color: #656363;
        margin: 6px 5px 0 0;
    }

    .social-panel a {
        display: inline-block;
        width: 27px;
        height: 26px;
    }

    .social-panel .icon-tw {
        background-position: -28px 0px;
    }

    .social-panel .icon-youtube {
        background-position: -56px 0px;
    }

.slider {
    width: 100%;
    /*background: url(/images/slider-bg.png) no-repeat top center;*/
    position: relative;
    overflow: hidden;
}

.slides {
    height: 100%;
    overflow: hidden;
    text-align: center;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -moz-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -ms-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -o-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

.slide {
    height: 100%;
    float: left;
    clear: none;
}


.slider-arrows {
}

.slider-arrow {
    position: absolute;
    display: block;
    margin-bottom: -20px;
}

.slider-arrow--right {
    bottom: 50%;
    right: 30px;
    background: url(/images/slider-arrow.png) no-repeat 0px -63px;
    width: 40px;
    height: 62px;
}

.slider-arrow--left {
    bottom: 50%;
    left: 30px;
    background: url(/images/slider-arrow.png) no-repeat;
    width: 40px;
    height: 62px;
}

.slider-nav {
    position: absolute;
    bottom: 15px;
}

.slider-nav__item {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    float: left;
    clear: none;
    display: block;
    margin: 0 5px;
    background: #97e1fb;
}

    .slider-nav__item:hover {
        background: #fff;
    }

.slider-nav__item--current {
    background: #fff;
}

/*RSLIDES*/
.resslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

    .resslides li {
        -webkit-backface-visibility: hidden;
        position: absolute;
        display: none;
        width: 100%;
        left: 0;
        top: 0;
    }

        .resslides li:first-child {
            position: relative;
            display: block;
            float: left;
        }

    .resslides img {
        display: block;
        height: auto;
        float: left;
        width: 100%;
        border: 0;
    }

/*RSLIDES*/

.message {
    border: 1px solid #87ac22;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 15px 0;
    text-align: center;
    display: table;
}

    .message span {
        color: #656363;
        line-height: 40px;
        display: table-cell;
        vertical-align: middle;
        width: 100%;
    }

        .message span.red {
            color: #f00;
            line-height: 20px;
            font-size: 14px;
        }

    .message a {
        color: #87ac22;
        text-decoration: underline;
    }

.icon-01 {
    display: inline-block;
    width: 140px;
    height: 41px;
    color: #87ac22;
    padding-left: 49px;
    line-height: 36px;
    float: left;
}

    .icon-01 span {
        color: #87ac22;
        white-space: nowrap;
        text-transform: uppercase;
    }

.shop-link {
    background: #656363;
    padding: 13px 10px;
    text-align: center;
    display: block;
    border-radius: 5px;
    color: #fff;
}

.shop-link-big {
    background: #656363;
    padding: 20px 10px;
    text-align: center;
    display: block;
    border-radius: 5px;
    color: #fff;
    font-size: 26px;
    clear: both;
    width: 400px;
    margin: 0 auto;
    display: none;
}

.shop-link i {
    float: right;
    display: inline-block;
    background: url(/images/main-sprite.png) no-repeat -66px -3px;
    width: 13px;
    height: 19px;
}

.shop-link-big i {
    display: block;
    float: right;
    background: url(/images/fast-arrow.png) no-repeat;
    width: 16px;
    height: 24px;
    margin-top: -3px;
}

.sb-message {
    font-size: 24px;
    color: #87ac22;
    text-align: center;
    font-family: OpenSansLight;
    padding: 15px 0;
}

.sidebar-menu-field {
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    box-shadow: 0 0 2px #777;
    -webkit-box-shadow: 0 0 2px #777;
    -moz-box-shadow: 0 0 2px #777;
    -o-box-shadow: 0 0 2px #777;
}

    .sidebar-menu-field img {
        margin-left: 5px;
        width: 97%;
    }

.sidebar-menu {
    padding: 20px 0;
}

    .sidebar-menu .title {
        font-size: 12px;
        color: #555555;
        font-weight: bold;
        padding-left: 10px;
    }

        .sidebar-menu .title .flag-01,
        .sidebar-menu .title .flag-02,
        .sidebar-menu .title .flag-03,
        .sidebar-menu .title .flag-04,
        .sidebar-menu .title .flag-05 {
            margin-bottom: -4px;
        }

.menu-table tr td:first-child {
    width: 150px;
}

.menu-table {
    margin: 1px 0 20px 35px;
}

    .menu-table tr td {
        padding: 2px 0;
        font-size: 12px;
        color: #8b8b8b;
    }

        .menu-table tr td a {
            font-size: 12px;
            color: #8b8b8b;
        }

            .menu-table tr td a:hover {
                text-decoration: underline;
            }

.phone-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(/images/main-sprite.png) no-repeat 0px -32px;
    float: left;
    margin-right: 7px;
}

.phone-vidget {
    padding: 15px 0;
    font-size: 13px;
    color: #656363;
    line-height: 16px;
}

    .phone-vidget p {
        margin-top: 10px;
    }

/*=tabs=*/

#slider {
    width: 570px;
    margin: 0 auto;
    position: relative;
}

.scroll {
    width: 570px;
    overflow: auto;
    overflow-x: hidden;
    position: relative;
    clear: left;
}

.eshop-scroll {
    width: 870px;
    overflow: auto;
    overflow-x: hidden;
    position: relative;
    clear: left;
}

.scrollContainer .panel {
    width: 570px;
}

.scrollContainer .eshop-panel {
    width: 870px;
}

ul.navigation {
    list-style: none;
    margin-top: 5px;
    padding: 0;
    padding-bottom: 14px;
    border-bottom: 1px solid #dcdcdc;
}

    ul.navigation li {
        display: inline;
        margin-right: 10px;
    }

    ul.navigation a {
        padding: 6px;
        color: #adadad;
        text-decoration: none;
        font-size: 22px;
    }

        ul.navigation a:hover {
            color: #67a02b;
        }

        ul.navigation a.selected {
            border-bottom: 4px solid #393939;
            color: #67a02b;
        }

        ul.navigation a:focus {
            outline: none;
        }

.scrollButtons {
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 8px;
}

.span6 .scrollButtons {
    display: none;
}

.scrollButtons.left {
    width: 25px;
    height: 25px;
    background: url(/images/tabs-btn.png) no-repeat 0px 0px;
    margin-right: 28px;
}

.scrollButtons.right {
    width: 25px;
    height: 25px;
    background: url(/images/tabs-btn.png) no-repeat 0px -26px;
}

    .scrollButtons.right:hover {
        background: url(/images/tabs-btn.png) no-repeat -26px 0px;
    }

.scrollButtons.left:hover {
    background: url(/images/tabs-btn.png) no-repeat -26px -26px;
}

/*=end tabs=*/

.product-item__code {
    text-align: center;
    color: #808080;
    font-size: 15px;
    padding: 5px 0;
}

.product-item__preview {
    background: #f7f7f7;
    border: 1px solid #e9e9e9;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    height: 220px;
    overflow: hidden;
    text-align: center;
    width: 270px;
}

    .product-item__preview img {
        width: 100%;
    }

.product-item__title a {
    color: #272727;
    font-size: 17.34px;
}

.product-item__title {
    text-align: center;
    padding: 10px 0;
    height: 60px;
    line-height: 20px;
    position: relative;
    z-index: 8;
}

.product-item {
    height: 380px;
    margin-top: 20px;
}

    .product-item:last-child {
        float: left;
    }

    .product-item:nth-child(even) {
        margin-right: 0;
    }

.eshop-product-item {
    margin-right: 30px !important;
}

    .eshop-product-item:nth-child(3n+3) {
        margin-right: 0 !important;
    }

.catigories-item:nth-child(3n+3) {
    margin-right: 0 !important;
}

.catigories-item:nth-child(even) {
    margin-right: 30px;
}

.catigories-item:hover > .product-item__title a {
    color: #272727 !important;
}

.product-item-indpage:nth-child(2n+2) {
    margin-right: 0 !important;
}

.product-item__price {
    height: 40px;
    padding: 5px 0;
    z-index: 8;
    position: relative;
}

    .product-item__price span {
        color: #87ac22;
        font-size: 22px;
        font-family: OpenSansLight;
        display: inline-block;
    }

    .product-item__price .sum {
        float: left;
        padding-left: 10px;
    }

    .product-item__price .kredit {
        float: right;
        margin-right: 10px;
    }

.product-item__description {
    text-align: center;
    font-size: 13.6px;
    color: #909090;
    background: url(/images/p-i-line.png) repeat-x top center;
    padding-top: 10px
}

.right-column {
    margin-right: 0;
}

    .right-column h2 {
        font-size: 18px;
        color: #87ac22;
        font-family: OpenSansLight;
        padding: 5px 0;
        text-align: center;
    }

.form-vidget {
    margin-top: 14px;
    padding: 15px 0;
}

    .form-vidget p {
        font-size: 12px;
        color: #9f9f9f;
        font-family: OpenSansLight;
        text-align: center;
        padding: 0px 0 20px;
        line-height: 17px;
    }

    .form-vidget .right-form label {
        float: left;
        width: 80px;
        font-size: 10.5px;
        color: #272727;
        text-align: right;
        padding-top: 10px;
        margin-right: 6px;
    }

    .form-vidget .right-form input[type="text"] {
        border: 1px solid #d8d8d8;
        box-shadow: 0 0 2px #e6e6e6;
        border-radius: 3px;
        width: 108px;
        padding: 3px;
        margin: 2px 0;
    }

    .form-vidget .right-form .seri-inp {
        width: 83px !important;
    }

.right-form {
    margin: 0 10px;
}

.form-vidget .line {
    border-top: 1px solid #d3d3d3;
    margin: 15px 10px;
}

.form-vidget .right-form input[type="submit"] {
    border: none;
    background: url(/images/main-sprite.png) no-repeat -88px -3px;
    width: 15px;
    height: 22px;
    margin-left: 9px;
}

.sub-navigation .form-vidget .right-form {
    margin-left: 44px;
}

.form-vidget .right-form input[type="submit"]:hover {
    background: url(/images/main-sprite.png) no-repeat -108px -3px;
    cursor: pointer;
}

.right-form_btn {
    margin: -26px 0 0 20px;
    position: absolute;
}

.banner-vidget {
    margin: 30px 0 0;
}

    .banner-vidget img {
        width: 100%;
    }

.news-list h3 {
    font-size: 12px;
    font-weight: bold;
    color: #252525;
}

.news-list p {
    font-size: 12px;
    color: #252525;
    margin-top: 5px;
    line-height: 15px;
}

.news-list {
    margin: 15px;
}

    .news-list li {
        border-bottom: 1px solid #d0d0d0;
        padding: 10px 0 20px;
    }

    .news-list p a {
        color: #87ac22;
        text-decoration: underline;
    }

ul.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    border-bottom: 1px solid #999;
    width: 100%;
}

    ul.tabs li {
        float: left;
        margin: 0;
        padding-bottom: 5px;
        position: relative;
        margin-right: 10px;
    }

        ul.tabs li a {
            padding: 6px;
            color: #adadad;
            text-decoration: none;
            font-size: 22px;
            display: block;
        }

            ul.tabs li a:hover {
                color: #67a02b;
            }

        ul.tabs li.active {
            border-bottom: 4px solid #393939;
        }

            ul.tabs li.active a {
                color: #67a02b;
            }

.tab_container {
    clear: both;
    float: left;
    width: 100%;
    min-height: 240px;
}

.tab_content {
    padding: 20px;
    font-size: 1.2em;
}

.info-item {
    float: left;
    width: 265px;
}

.info-item__preview {
    height: 150px;
    text-align: center;
}

.info-item__description {
    text-align: center;
}

    .info-item__description a {
        font-size: 14px;
        color: #87ac22;
        display: inline-block;
    }

.info-item__link {
    text-align: center;
    margin-top: 5px;
}

    .info-item__link a i {
        display: inline-block;
        width: 24px;
        height: 24px;
        margin: 0 4px -7px 0;
    }

.icon-pdf {
    background: url(/images/main-sprite.png) no-repeat -32px 0px;
}

.icon-book {
    background: url(/images/main-sprite.png) no-repeat 0px 0px;
    width: 26px;
}

.info-item__link a {
    font-size: 12px;
    color: #3b3b3b;
    text-decoration: underline;
    margin-top: 6px;
}

.footer-menu-field {
    background: #f1f1f1 url(/images/top-line.png) repeat-x top center;
    border-bottom: 1px solid #e5e5e5;
    padding: 40px 0;
}

    .footer-menu-field.nobg {
        background: none;
        border: none;
        padding: 15px 0;
    }

footer {
    margin-top: 15px;
}

.footer-menu__center {
    margin: 0 auto;
    width: 1170px;
}

.footer-menu {
    text-align: center;
    margin: 0 auto;
}

    .footer-menu li {
        display: inline-block;
        color: #000;
        font-size: 14px;
    }

        .footer-menu li a {
            color: #000;
        }

            .footer-menu li a:hover {
                text-decoration: underline;
            }

.footer-logo-field {
    padding: 20px 0;
    text-align: center;
    background: url(/images/top-line.png) repeat-x bottom;
}

    .footer-logo-field img {
        margin-right: 15px;
    }

.footer-line {
    background: url(/images/top-line.png) repeat-x top center;
    height: 4px;
}

.search-form {
    float: right;
    padding: 20px 0 0 0;
    clear: both;
}

    .search-form form input[type="text"] {
        border: 1px solid #d8d8d8;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -o-border-radius: 3px;
        padding: 8px 5px;
        margin-right: -5px;
        color: #656363;
        font-size: 12px;
        font-family: OpenSans;
        width: 264px;
        padding-right: 30px;
    }

    .search-form form input[type="submit"] {
        border: none;
        background: url(/images/main-sprite.png) no-repeat -130px -6px;
        margin-left: -23px;
    }

.main-navigation-field {
    background: #87ac22;
    border-radius: 3px;
}

.main-navigation-field-index {
    border-radius: 0;
}

.main-navigation {
    /*margin-left: 30px;*/
    float: left;
    position: relative;
}

    .main-navigation li {
        float: left;
        margin-right: 14px;
        padding: 23px 14px;
        border-radius: 2px;
    }

        .main-navigation li:hover {
            background: #f1f1f1;
        }

            .main-navigation li:hover > a {
                color: #393939;
                background: url(/images/menu-arrow-hover.png) no-repeat right center;
            }

        .main-navigation li a {
            color: #fff;
            font-size: 14px;
            display: inline-block;
            padding-right: 15px;
            background: url(/images/menu-arrow.png) no-repeat right center;
        }

            .main-navigation li a.no-drop {
                background: url(/images/menu-arrow-up.png) no-repeat right center;
            }

            .main-navigation li a.no-arrow {
                background: none;
            }

        .main-navigation li:hover > .sub-navigation {
            display: block;
        }

.sub-navigation {
    position: absolute;
    display: none;
    background: #f1f1f1;
    top: 61px;
    margin-left: -20px;
    border: 1px solid #c2c2c2;
    border-top: none;
    border-radius: 2px;
    padding: 15px;
    z-index: 9;
}

    .sub-navigation:before {
        content: " ";
        display: block;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 0 5px 5px 5px;
        border-color: transparent transparent #f1f1f1 transparent;
        margin: -20px 0 0 64px;
        position: absolute;
    }


.main-navigation .panel_02:before {
    margin: -20px 0 0 87px !important;
}

.main-navigation .panel_03:before {
    margin: -20px 0 0 90px !important;
}

.main-navigation .panel_02 {
    width: 365px;
}

.sub-navigation__menu {
    width: 230px;
    float: left !important;
    margin-right: 10px;
}

.sub-navigation__menu {
    float: none;
}

    .sub-navigation__menu li {
        padding: 13px 10px;
        border-bottom: 1px solid #d3d3d3;
        width: 100%;
    }

        .sub-navigation__menu li:last-child {
            border-bottom: none;
        }

        .sub-navigation__menu li:hover {
            box-shadow: none;
            background: #87ac22;
        }

            .sub-navigation__menu li:hover a {
                color: #fff;
                text-decoration: none;
                background: none;
            }

        .sub-navigation__menu li a {
            color: #333;
            padding: 0;
            background: none;
        }

.sub-navigation .title h3 {
    color: #87ac22;
    font-size: 24px;
    font-family: OpenSansLight;
    text-align: center;
}

.sub-navigation .title span {
    font-size: 12px;
    color: #9f9f9f;
    text-align: center;
    display: block;
    margin-top: 5px;
}

.sub-navigation .fast-menu {
    margin-top: 20px;
}

    .sub-navigation .fast-menu a {
        display: block;
        padding: 20px 10px;
        color: #272727;
        background: url(/images/fast-arrow-h.png) no-repeat 246px 16px;
    }

        .sub-navigation .fast-menu a:hover {
            background: #87ac22 url(/images/fast-arrow.png) no-repeat 246px 16px;
            color: #fff;
            text-decoration: none;
        }

.st-content .fast-menu a {
    display: block;
    color: #272727;
    background: url(/images/fast-arrow-h.png) no-repeat 271px 13px;
}

    .st-content .fast-menu a:hover {
        background: #87ac22 url(/images/fast-arrow.png) no-repeat 271px 13px;
        color: #fff;
        text-decoration: none;
    }

.cart-field {
    float: right;
    margin: 8px 10px 0 0;
    position: relative;
    width: 200px;
}

.cart {
    background: #fff;
    padding: 2px 9px 0px;
    border: 1px solid #729a1f;
    border-radius: 3px;
    color: #575757;
    overflow: hidden;
    font-size: 14px;
}

    .cart span,
    .cart a {
        display: inline-block;
        float: left;
    }

    .cart .cart-icon {
        color: #575757;
        padding-left: 20px;
        background: url(/images/cart-icon-b.png) no-repeat left center;
        margin: 10px 10px 10px 0;
        padding: 5px 4px 3px 24px;
    }

    .cart .counter {
        display: inline-block;
        line-height: 22px;
        margin: 10px 0 4px;
    }

        .cart .counter i {
            display: inline-block;
            background: url(/images/counter-bg.png) no-repeat;
            width: 36px;
            height: 30px;
            text-align: center;
            color: #fff;
            padding-top: 4px;
            line-height: 22px;
            float: left;
            margin-right: 5px;
            margin-top: -4px;
        }

    .cart .arrow-icon {
        display: inline-block;
        background: url(/images/cart-arrow.png) no-repeat 9px 13px;
        width: 20px;
        height: 27px;
        border-left: 1px solid #d4e1bb;
        margin-left: 10px;
        margin-top: 7px;
    }

.kurs {
    text-align: right;
    padding: 10px 0;
    font-size: 12px;
    color: #717171;
}

    .kurs span {
        color: #677718;
    }

.product-menu-field h2 {
    text-align: center;
    font-size: 24px;
    color: #272727;
    font-family: OpenSansLight;
}

.product-menu li {
    padding: 10px 0;
    border-bottom: 1px solid #e7e7e7;
    width: 100%;
}

    .product-menu li a {
        color: #272727;
        font-size: 12px;
    }

        .product-menu li a:hover {
            text-decoration: underline;
        }

    .product-menu li i {
        display: inline-block;
        float: right;
        background: #f1f1f1;
        color: #6b6b6b;
        font-size: 9px;
        padding: 7px 12px;
        margin-top: -3px;
    }

.product-menu {
    background: url(/images/top-line.png) repeat-x top center;
    margin-top: 10px;
    padding-top: 5px;
}

.dropdown ul {
    max-height: 300px;
}

/*DropDownCart
=============================*/

.dropdown {
    position: absolute;
    z-index: 9999999;
    display: none;
}

    .dropdown .dropdown-panel {
        padding: 10px;
    }

    .dropdown.dropdown-tip {
        margin-top: 6px;
    }

        .dropdown.dropdown-tip.dropdown-anchor-right:before {
            left: auto;
            right: 9px;
        }

        .dropdown.dropdown-tip:after {
            position: absolute;
            top: -5px;
            right: 10px;
            content: '';
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid #f1f1f1;
            display: inline-block;
        }

        .dropdown.dropdown-tip.dropdown-anchor-right:after {
            left: auto;
            right: 10px;
        }

.cart-panel {
    background: #f1f1f1;
    border: 1px solid #dcdcdc;
    padding: 20px;
    margin-left: -126px;
    width: 325px;
}

    .cart-panel h3 {
        color: #87ac22;
        font-family: OpenSansLight;
        font-size: 24px;
    }

    .cart-panel span {
        color: #fe0000;
        font-size: 12px;
        font-family: OpenSansLight;
    }

.cart-table {
    width: 100%;
    margin-top: 8px;
}

    .cart-table tr td {
        font-size: 11px;
        color: #272727;
        padding: 3px 5px;
        border-bottom: 1px solid #d3d3d3;
    }

.ui-widget {
    position: relative;
}

.ui-spinner-buttons {
    position: absolute
}

.ui-spinner-button {
    overflow: hidden;
}

.ui-spinner-button {
    display: block;
    height: 8px !important;
    background: url(/images/spinner_btn-down.png) no-repeat;
    width: 8px !important;
    cursor: default;
    margin-top: 4px;
}

.ui-spinner-up {
    float: right;
    background: url(/images/spinner_btn-up.png) no-repeat -1px 0;
    width: 10px !important;
    height: 11px !important;
    margin-right: -1px;
}

.ui-spinner-down {
    position: absolute;
    margin-left: -44px;
}

.spinnerfast {
    border: 1px solid #d8d8d8;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    text-align: center !important;
    width: 35px !important;
    padding: 4px 0;
    font-size: 11px;
    color: #272727;
}

.total-sum p {
    font-size: 14px;
    color: #87ac22;
    margin: 6px 0;
}

.cart-btn-field {
    padding: 5px 0;
}

.go-cart {
    float: left;
    padding: 7px;
    background: #fff url(/images/cart-icon-gray.png) no-repeat 4px 7px;
    border: 1px solid #ababab;
    font-size: 14px;
    color: #5a5a5a;
    border-radius: 5px;
    padding-left: 24px;
}

.cart-up {
    float: right;
    padding: 7px;
    background: #87ac22 url(/images/ar12.png) no-repeat 78px 5px;
    font-size: 14px;
    border: 1px solid #87ac22;
    color: #fff;
    border-radius: 5px;
    padding-right: 25px;
}

.product-item__hover-cart {
    position: absolute;
    background: #f1f1f1;
    padding: 8px;
    margin-top: 25px;
    width: 270px;
    height: 320px;
    display: none;
}

.product-item:hover > .product-item__hover-cart {
    display: block;
}

.product-item__hover-cart__inner {
    background: #fff;
    width: 255px;
    border: 1px solid #e9e9e9;
    padding: 10px;
}

    .product-item__hover-cart__inner .big-cart {
        margin: 20px auto;
        width: 90px;
    }

.cart-spinner {
    width: 150px;
    margin: 0 auto;
}

    .cart-spinner label {
        color: #909090;
        font-size: 11px;
        margin-right: 10px;
    }

    .cart-spinner .ui-spinner-down {
        border: 1px solid #87ac22;
        padding: 13px;
        margin-left: 3px;
        margin-top: -2px;
        background-position: 9px 7px;
        border-radius: 3px;
    }

    .cart-spinner .ui-spinner-up {
        border: 1px solid #87ac22;
        padding: 13px;
        margin-right: -52px;
        margin-top: -2px;
        background-position: 7px 7px;
        border-radius: 3px;
    }

    .cart-spinner .spinnerfast {
        font-size: 14px;
        padding: 6px;
    }

.cart-add-btn {
    text-align: center;
    padding: 7px 0;
}

    .cart-add-btn a {
        display: inline-block;
        padding: 8px 10px;
        font-weight: bold;
        color: #fff;
        border-radius: 3px;
        padding-right: 17px;
        background: #87ac22 url(/images/arrow-right.png) no-repeat 113px 14px;
    }

.cart-add-btn-nostock {
    display: inline-block;
    padding: 8px 10px;
    font-weight: bold;
    color: #fff;
    border-radius: 3px;
    padding-right: 17px;
    background: #F00;
}

.cart-add-btn .outst {
    display: inline-block;
    padding: 8px 10px;
    font-weight: bold;
    color: #fff;
    border-radius: 3px;
    padding-right: 17px;
    background: #FF0000;
}

.cart-add-btn a:hover {
    box-shadow: inset 0 0 20px rgba(255,255,255,0.3);
}

.catigories-title {
    background: url(/images/p-i-line.png) repeat-x bottom center;
}

.catigories-item {
    height: 270px;
}

.accordeon-content {
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    margin-top: 20px;
}


h2.acc_trigger {
    padding: 0;
    background: url(/images/ac-sprite.png) no-repeat 3px 16px;
    width: 100%;
    font-weight: normal;
    float: left;
    padding: 15px 0 15px 30px;
    border-bottom: 1px solid #dcdcdc;
}

    h2.acc_trigger:last-child {
        border-bottom: none;
    }

    h2.acc_trigger a {
        font-size: 14px;
        color: #717171;
    }

    h2.acc_trigger:hover {
        background: url(/images/ac-sprite.png) no-repeat 5px -69px;
    }

        h2.acc_trigger:hover a {
            color: #87ac22;
        }

h2.active,
h2.active:hover {
    background: #87ac22 url(/images/ac-sprite.png) no-repeat 5px -33px;
}

    h2.active a,
    h2.active:hover a {
        color: #fff;
    }

.acc_container {
    padding: 0;
    overflow: hidden;
    font-size: 1.2em;
    width: 100%;
    clear: both;
    background: #f1f1f1;
}

    .acc_container .block {
        padding: 10px;
    }

.ac-table {
    width: 380px;
    float: left;
    margin: 20px;
}

    .ac-table tr td {
        color: #272727;
        font-size: 12px;
        padding: 7px;
        border-bottom: 1px solid #dcdcdc;
        line-height: 16px;
    }

        .ac-table tr td .spinnerfast {
            margin-left: 15px;
        }

        .ac-table tr td .ui-spinner-up {
            margin-right: -3px !important;
        }

    .ac-table tr:first-child {
        text-align: center;
        font-weight: bold;
    }

.basket-btn-field {
    text-align: center;
    padding: 15px 0;
}

.cart-next-btn,
.cart-prev-btn {
    display: inline-block;
    padding: 11px 13px 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    background: #87ac22;
    color: #fff;
}

.cart-prev-btn {
    background: #fff;
    border: 1px solid #ababab;
    color: #5a5a5a;
    padding: 10px 13px 9px;
    padding-left: 4px;
    margin-right: 5px;
}

    .cart-next-btn i,
    .cart-prev-btn i {
        display: inline-block;
        width: 12px;
        height: 17px;
        background: url(/images/ar12.png) no-repeat;
        margin-bottom: -3px;
        margin-left: 4px;
    }

    .cart-prev-btn i {
        background: url(/images/gray-arrow.png) no-repeat;
        margin-bottom: -3px;
        margin-right: 4px;
        height: 18px;
    }

.kode-input {
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    width: 56px;
    padding: 5px 0;
    text-align: center;
}

.ac-table-counter {
    margin: 20px auto;
    float: none;
    width: 370px;
}

    .ac-table-counter tr td {
        text-align: center;
        padding: 5px 0;
    }

    .ac-table-counter tr:first-child {
        font-size: 12px;
        font-weight: bold;
        color: #272727;
    }

    .ac-table-counter tr {
        border-bottom: 1px solid #dcdcdc;
    }

        .ac-table-counter tr td .ui-spinner-up {
            margin-right: -1px !important;
        }

        .ac-table-counter tr td .ui-spinner-buttons {
            margin-top: 3px;
        }

.content .mes {
    color: #717171;
    font-size: 13px;
    text-align: center;
    padding: 10px 0;
}

.time {
    color: #87ac22;
    position: absolute;
    right: 0;
    top: 20px;
    font-size: 14px;
}

.cart-anonce {
    width: 745px;
    height: 62px;
    float: left;
    margin: 20px 0;
}

.cart-border {
    border: 1px solid #87ac22;
    border-right: none;
    overflow: hidden;
    padding: 10px 10px 11px;
    float: left;
    width: 700px;
    height: 62px;
}

.cart-arrow {
    width: 40px;
    height: 62px;
    float: left;
    background: url(/images/cart-inf-bg.png) no-repeat;
}

.cart-anonce p {
    float: left;
    width: 30%;
    font-size: 14px;
    line-height: 19px;
    color: #717171;
}

.cart-img-field {
    margin-left: 10px;
    float: left;
    width: 68%;
    text-align: center;
}

    .cart-img-field img {
        display: inline-block;
        margin-left: 10px;
    }

.installment {
    float: right;
    width: 120px;
    font-size: 30px;
    color: #87ac22;
    margin: 34px 0;
}

.gray-text {
    color: #717171;
    font-size: 12px;
    line-height: 20px;
}

.green-text {
    color: #87ac22;
    font-size: 12px;
    line-height: 20px;
    margin: 15px 0;
}

.red-text {
    color: #ff0000;
    font-size: 12px;
    margin: 15px 0;
    line-height: 20px;
}

.infor-line {
    background: #ff0000;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    margin: 10px 0 5px;
}

.order-table-field {
    background: #f1f1f1;
    margin-top: 5px;
    padding-top: 5px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
}

.order-table {
    width: 98%;
    margin: 0 10px;
}

    .order-table tr {
        border-bottom: 1px solid #d3d3d3;
    }

        .order-table tr:first-child {
            font-weight: bold;
            text-align: center;
        }

        .order-table tr:last-child {
            border-bottom: none;
        }

        .order-table tr td {
            color: #272727;
            font-size: 12px;
            padding: 5px;
            text-align: center;
        }

.align-left {
    text-align: left !important;
}

.order-table tr td .ui-spinner-buttons {
    margin-top: 3px;
}

.cart-menu {
    margin-left: 10px;
}

    .cart-menu li {
        float: left;
        margin: 10px 15px;
    }

        .cart-menu li a {
            text-decoration: underline;
        }

.total-sum-cart {
    float: right;
    margin-right: 10px;
}

    .total-sum-cart p {
        text-align: right;
    }

.basket-btn-field p {
    color: #717171;
    font-size: 14px;
    float: left;
    margin: 10px 10px 0;
}

.car-icon {
    float: left;
    margin: 15px 0;
}

    .car-icon img {
        float: left;
        display: inline-block;
        margin-bottom: -10px;
    }

.degree-right {
    float: right;
    margin: 15px 0;
}

.warning-page h1 {
    text-align: center;
    color: #ff0000;
    font-size: 48px;
    background: #87ac22;
    padding: 20px 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}

.warning-content {
    width: 800px;
    margin: 0 auto;
}

    .warning-content p {
        color: #272727;
        font-size: 14px;
        line-height: 18px;
        margin: 20px 0;
    }

    .warning-content h4 {
        text-align: center;
        font-weight: bold;
        margin: 20px 0;
        font-size: 14px;
    }

.license-field {
    margin-top: 20px;
}

    .license-field h2 {
        background: #eeeeee;
        padding: 15px 0;
        font-weight: bold;
        text-align: center;
    }

.license-content {
    padding: 10px;
    height: 345px;
    overflow: auto;
}

    .license-content p {
        color: #6f6f6f;
        font-size: 12px;
        line-height: 17px;
        margin: 10px 0;
    }

.license-content {
    border: 1px solid #d3d3d3;
}

.confirm-btn {
    display: inline-block;
    background: #eee;
    padding: 10px 15px;
    margin: 0 10px 15px 0;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
}


.sidebar640 {
    display: none;
}

.show-small-menu {
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    width: 82px;
    height: 74px;
    background: #a6a6a6 url(/images/menu-btn.png) no-repeat center center;
    display: none;
}

.show640 {
    display: none;
}

.small-menu {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    display: none;
}

    .small-menu li a {
        display: block;
        width: 100%;
        text-align: center;
        padding: 20px 0;
        background: #a6a6a6;
        border-top: 1px solid #d6d6d6;
        color: #fff;
    }

        .small-menu li a:hover {
            background: #87ac22;
        }

.search-vidget {
    text-align: center;
    border-radius: 4px;
    border: 1px solid #dcdcdc;
    padding: 15px;
    position: relative;
}

    .search-vidget h2 {
        color: #87ac22;
        font-size: 24px;
        text-align: center;
        margin-bottom: 5px;
    }

    .search-vidget p {
        color: #8b8b8b;
        font-size: 12px;
        line-height: 15px;
        margin: 5px 0;
    }

.search-form-vidget {
    margin-top: 20px;
    position: relative;
}

    .search-form-vidget input[type="text"] {
        border: 1px solid #dcdcdc;
        border-radius: 4px;
        box-shadow: inset 0 0 4px rgba(0,0,0,0.1);
        height: 35px;
        margin-right: -2px;
        padding: 0 42px 0 5px;
        color: #8b8b8b;
        font-size: 12px;
        width: 100%
    }

    .search-form-vidget input[type="submit"] {
        width: 35px;
        height: 35px;
        background: url(/images/search-btn.png) no-repeat;
        border: none;
        position: absolute;
        right: 0px;
        top: 0;
    }

.text p {
    font-size: 16px;
    line-height: 21px;
}

    .text p.canteral {
        text-align: center;
    }

.register-row {
    margin-top: 16px;
    border: 1px solid #dcdcdc;
}

.register-row--title {
    background: #dcdcdc;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 3px 3px 0 0;
}

.register-form label {
    float: left;
    text-align: right;
    width: 200px;
    font-size: 14px;
    margin: 2px 10px 0 270px;
}

    .register-form input[type="text"] {
        border: 1px solid #dbdbdb;
        box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
        height: 35px;
        width: 225px;
        float: left;
        border-radius: 2px;
        font-family: OpenSans;
        padding: 0 3px;
    }

    .register-form textarea {
        width: 280px;
        height: 82px;
        resize: none;
        font-family: OpenSans;
        border: 1px solid #dbdbdb;
        box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
        border-radius: 5px;
        padding: 5px;
    }

    .register-form input.input70 {
        width: 70px;
        text-align: center;
        margin-right: 6px;
    }

    .register-form input.input45 {
        width: 43px;
        text-align: center;
        margin-right: 6px;
    }

    .register-form input.input100 {
        width: 98px;
        text-align: center;
        margin-right: 6px;
    }

    .register-form input.input125 {
        width: 123px;
        text-align: center;
        margin-right: 6px;
    }

    .register-form input.input50 {
        width: 50px;
        text-align: center;
        margin-right: 6px;
    }

    .register-form input.input200 {
        width: 200px;
        text-align: center;
        margin-left: 10px;
    }


    .register-form input.input300 {
        width: 300px;
    }

.registration-table {
    margin: 10px 0;
}

    .registration-table tr td {
        vertical-align: middle;
        padding: 8px 0;
    }

        .registration-table tr td span.desc-label {
            font-size: 14px;
            float: left;
            margin-top: 4px;
            margin-right: 15px;
        }

        .registration-table tr td.vat {
            vertical-align: top;
        }

            .registration-table tr td.vat label {
                margin-top: 5px;
            }

.important-text {
    color: #f00;
    text-align: center;
    margin: 10px 0;
    line-height: 20px;
    font-size: 14px;
}

.bracket-left {
    float: left;
    margin: 10px 5px 0 0;
    font-size: 14px;
}

.bracket-right {
    margin-top: 10px;
    float: left;
    font-size: 14px;
}

.register-text {
    font-size: 14px;
    text-align: center;
    margin: 10px 0;
    line-height: 20px;
}

.register-btn {
    text-align: center;
    padding: 15px 0;
}

    .register-btn input[type="submit"] {
        border: none;
        background: #87ac22 url(/images/ar12.png) no-repeat 117px 9px;
        color: #fff;
        width: 137px;
        height: 34px;
        border-radius: 4px;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
    }

.anket-name {
    font-size: 24px;
    color: #87ac22;
    margin-bottom: 20px;
}

.anket p {
    color: #424242;
    font-size: 14px;
}

    .anket p a {
        color: #87ac22;
        text-decoration: underline;
    }

.anket-row {
    margin: 35px 0 0 475px;
}

    .anket-row h3 {
        font-size: 24px;
        color: #87ac22;
    }

.anket-data {
    margin: 10px 0 0 25px;
}

    .anket-data p {
        font-size: 14px;
    }

        .anket-data p.sub-data {
            font-weight: bold;
            color: #87ac22;
            margin-top: 20px;
        }

        .anket-data p.emp {
            padding-left: 39px;
        }

.anket-row .terms {
    font-weight: bold;
    color: #87ac22;
    text-decoration: underline;
    font-size: 14px;
}

.anket-row input[type="checkbox"] {
    float: left;
    margin-right: 4px;
}

.anket {
    padding-bottom: 50px;
}

.forgot-pwd {
    border: 1px solid #dcdcdc;
    padding: 10px 0 25px 0;
    margin-top: 20px;
}

.forgot h4 {
    margin-top: 20px;
}

.forgot-btn {
    margin-left: 480px;
}

.main-menu-small-btn {
    display: block;
    float: left;
    width: 82px;
    height: 74px;
    background: #5b7d00 url(/images/menu-btn.png) no-repeat center center;
}

.main-menu-small {
    width: 100%;
    position: absolute;
}

    .main-menu-small li {
        width: 100%;
        text-align: center;
    }

/* Ð¡Ñ‚Ð¸Ð»Ð¸ Ð°Ð´Ð°Ð¿Ñ‚Ð¸Ð²Ð½Ð¾Ð³Ð¾ Ð°ÐºÐºÐ¾Ñ€Ð´ÐµÐ¾Ð½Ð° */
.st-accordion {
    width: 100%;
    min-width: 270px;
    margin: 0 auto;
    position: absolute;
    z-index: 99999;
    margin-top: 74px;
    border-top: 1px solid #d6d6d6;
}

    .st-accordion ul li {
        background: #f1f1f1;
        min-height: 50px;
    }

        .st-accordion ul li:first-child {
            border-top: none;
        }

    .st-accordion ul a {
        font-size: 14px;
        color: #656363;
        border-top: 1px solid #d6d6d6;
        display: block;
        text-align: center;
        position: relative;
        line-height: 50px;
        background: #f1f1f1;
        -webkit-transition: color 0.2s ease-in-out;
        -moz-transition: color 0.2s ease-in-out;
        -o-transition: color 0.2s ease-in-out;
        -ms-transition: color 0.2s ease-in-out;
        transition: color 0.2s ease-in-out;
    }

        .st-accordion ul a span {
            background: transparent url(/images/small-menu-arrow.png) no-repeat center center;
            text-indent: -9000px;
            width: 11px;
            height: 16px;
            position: absolute;
            top: 50%;
            margin-top: -7px;
            opacity: 0.9;
            right: 10px;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
        }

        .st-accordion ul a:hover {
            color: #fff;
            background: #87ac22;
        }

            .st-accordion ul a:hover span {
                opacity: 1;
                right: 10px;
            }

    .st-accordion ul li.st-open > a {
        color: #fff;
        background: #87ac22;
    }

        .st-accordion ul li.st-open > a span {
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            transform: rotate(90deg);
            right: 10px;
            opacity: 1;
        }

.sub-small-main-menu {
    display: block;
    position: relative;
    z-index: 9999;
    margin: 0 auto;
    padding: 10px 0;
}

.sub-form-vidget {
    width: 300px;
}

.sub-small-main-menu .title h3 {
    color: #87ac22;
    font-size: 24px;
    font-family: OpenSansLight;
    text-align: center;
}

.sub-small-main-menu .title span {
    font-size: 12px;
    color: #9f9f9f;
    text-align: center;
    display: block;
    margin-top: 5px;
}

.main-menu-small-btn {
    display: none;
}

/* Ð¡Ñ‚Ð¸Ð»Ð¸ Ð°Ð´Ð°Ð¿Ñ‚Ð¸Ð²Ð½Ð¾Ð³Ð¾ Ð°ÐºÐºÐ¾Ñ€Ð´ÐµÐ¾Ð½Ð° */
.anket-accordeon {
    width: 100%;
    z-index: 999;
    margin-top: 20px;
}

    .anket-accordeon ul li {
        margin-top: 1px;
    }

        .anket-accordeon ul li:first-child {
            border-top: none;
        }

    .anket-accordeon > ul > li > a {
        font-size: 14px;
        background: #e3e3e3;
        color: #000;
        font-weight: bold;
        display: block;
        position: relative;
        line-height: 41px;
        border-radius: 4px 4px 0 0;
        -webkit-transition: color 0.2s ease-in-out;
        -moz-transition: color 0.2s ease-in-out;
        -o-transition: color 0.2s ease-in-out;
        -ms-transition: color 0.2s ease-in-out;
        transition: color 0.2s ease-in-out;
    }

    .anket-accordeon ul a span {
        background: transparent url(/images/plus.png) no-repeat center center;
        text-indent: -9000px;
        width: 8px;
        height: 8px;
        float: left;
        margin: 16px 20px 0 12px;
        opacity: 0.9;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    .anket-accordeon ul a:hover {
        color: #000;
        background: #d7d7d7;
    }

        .anket-accordeon ul a:hover span {
            opacity: 1;
            right: 10px;
        }

    .anket-accordeon ul li.st-open {
        overflow: visible !important;
    }

        .anket-accordeon ul li.st-open > a {
        }

            .anket-accordeon ul li.st-open > a span {
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                transform: rotate(180deg);
                right: 10px;
                opacity: 1;
                background: transparent url(/images/minus.png) no-repeat center center;
            }

    .anket-accordeon .st-content {
        border: 1px solid #e3e3e3;
    }

        .anket-accordeon .st-content .register-row {
            border: none;
        }

.bold-label {
    font-weight: bold;
    margin: 0;
    font-size: 14px;
}

.anket-nex-btn {
    display: block;
    border-radius: 5px;
    background: #87ac22 url(/images/arrow-down.png) no-repeat 114px 12px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    width: 142px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    cursor: pointer;
}

    .anket-nex-btn:hover {
        background: #87ac22 url(/images/arrow-down.png) no-repeat 114px 12px !important;
        color: #fff !important;
    }

.hint-text {
    font-size: 14px;
    font-style: italic;
    margin: 11px 0px 0px 12px;
    display: inline-block;
}

.register-text-green {
    color: #87ac22 !important;
    font-size: 18px !important;
}

.label300 {
    width: 300px !important;
    margin-left: 150px !important;
}

.table-section4 {
    margin-bottom: 50px;
}

.tebrikler h2 {
    text-align: center;
    color: #87ac22;
    font-size: 48px;
    padding: 20px 0;
    clear: both;
}

.tebrikler p {
    text-align: center;
    font-size: 18px;
    line-height: 24px;
}

.teb-red {
    color: #f00;
}

.teb-green {
    color: #87ac22;
}

.ac-table320 {
    width: 100%;
    display: none;
}

    .ac-table320 tr:first-child {
        display: table-row !important;
    }

    .ac-table320 tr td:first-child {
        font-weight: bold;
        font-size: 12px;
        color: #272727;
    }

    .ac-table320 tr td {
        text-align: left;
        border: none;
    }

    .ac-table320 tr:nth-child(4n+4) {
        border-bottom: 1px solid #dcdcdc !important;
    }

.carry {
    display: none;
}

.main-menu-small-btn.active {
    background: #f1f1f1 url("/images/menu-btn-black.png") no-repeat center center;
}

.order-list-320 {
    position: relative;
    margin: 10px 20px 0 25px;
    padding: 7px;
    border-bottom: 1px solid #d3d3d3;
    display: none;
}

    .order-list-320 span {
        position: absolute;
        left: -23px;
        top: 9px;
    }

    .order-list-320 li {
        color: #272727;
        font-size: 12px;
        margin: 5px 0;
    }


.loginbox {
    background: #e5e5e5 url("/images/login_bg.jpg") no-repeat;
    max-width: 695px;
    min-height: 329px;
    margin: 0 auto;
    padding: 20px 20px 20px 205px;
}

    .loginbox h1 {
        font-family: OpenSans;
        font-size: 36px;
        color: #7b7b7b;
        margin-bottom: 20px;
    }

    .loginbox input[type="text"] {
        border: 1px solid #dbdbdb;
        border-radius: 2px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset;
        font-family: OpenSans;
        height: 35px;
        padding: 0 3px;
        width: 45%;
    }

    .loginbox input[type="password"] {
        border: 1px solid #dbdbdb;
        border-radius: 2px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset;
        font-family: OpenSans;
        height: 35px;
        padding: 0 3px;
        width: 45%;
    }

    .loginbox label {
        display: block;
        margin-bottom: 15px;
    }

    .loginbox .lbl {
        width: 100px;
        display: inline-block;
        text-align: right;
    }

    .loginbox .sample {
        font-size: 11px;
        font-style: italic;
    }

.arr-btn {
    background: url("../images/ar12.png") no-repeat scroll 117px 9px #87ac22;
    border: medium none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    height: 34px;
    width: 137px;
    padding-top: 0;
    padding-bottom: 0;
}

.loginbox h1 span {
    font-size: 14px;
    display: block;
    line-height: 30px;
}

.loginbox .forgotpass {
    display: block;
    color: #87AC22;
    margin-top: 15px;
    text-decoration: underline;
}

    .loginbox .forgotpass:hover {
        text-decoration: none;
    }

.loginbox .pad-left {
    display: block;
    padding-left: 104px;
}


.entrance nav {
    position: absolute;
    right: 0px;
    top: -41px;
}

    .entrance nav li {
        display: inline-block;
        padding: 0 10px;
    }

        .entrance nav li a {
            font-family: OpenSans;
            font-size: 18px;
            padding: 20px 15px;
        }

            .entrance nav li a:hover {
                background: #87ac22;
                color: #FFF;
            }

.myaccount h4 {
    font-family: OpenSans;
    font-size: 30px;
    color: #7c7c7c;
    margin: 15px 0;
}

.myaccount .block {
    border: 1px solid #e3e3e3;
    margin-bottom: 25px;
}

    .myaccount .block h5 {
        background: #e3e3e3;
        font-size: 13px;
        font-weight: bold;
        padding: 12px 20px;
    }

.myaccount .info {
    height: 130px;
    padding: 20px 20px 10px 130px;
    background-repeat: no-repeat;
    background-position: 10px center;
    font-size: 14px;
    position: relative;
}

.myaccount .acc-info .info {
    background-image: url('/images/myacc/info.jpg');
}

.myaccount .acc-history .info {
    background-image: url('/images/myacc/history.jpg');
}

.myaccount .acc-pass .info {
    background-image: url('/images/myacc/pass.jpg');
}

.myaccount .acc-webhistory .info {
    background-image: url('/images/myacc/webhistory.jpg');
}

.myaccount .span6 {
    width: 48.85%;
    margin-right: 0px;
}

.myaccount .arr-btn {
    display: inline-block;
    white-space: nowrap;
    width: 260px;
    position: absolute;
    bottom: 25px;
    left: 130px;
    background-position: 235px;
    padding: 0 20px;
    line-height: 33px;
}

.box {
    background: #f1f1f1;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    font-size: 14px;
    margin: 5px 0 15px;
}

    .box .data {
        padding: 15px 10px;
    }

    .box h5 {
        background: #dcdcdc;
        padding: 5px 10px;
        font-weight: bold;
    }

.creditcard {
    font-size: 14px;
}

    .creditcard .address .data {
        color: #717171;
    }

    .creditcard .cart-next-btn {
        margin: 0 auto;
        width: 150px;
        display: block;
        text-align: center;
    }

p.info {
    padding: 15px 3px 10px;
}

    p.info strong {
        color: #87ac22;
    }

    p.info .red {
        color: #FF0000;
        display: block;
        font-size: 1.2em;
        font-weight: bold;
        padding-bottom: 6px;
    }

.pretotal {
    color: #87ac22;
    width: 300px;
    margin-bottom: 55px;
    padding-left: 15px;
}

    .pretotal p {
        width: 50%;
        display: block;
        float: left;
        margin: 6px 0 3px;
    }

.secure3d {
    background: url('/images/3dsecure.jpg') no-repeat center 20px;
    text-align: center;
    font-size: 11px;
    padding: 170px 15px 10px;
    border-left: 1px solid #d3d3d3;
    width: 240px;
    height: 310px;
    margin: 0;
}

#creditform label {
    display: block;
    padding-bottom: 10px;
}

    #creditform label span {
        display: inline-block;
        text-align: right;
        width: 45%;
    }

    #creditform label .selectbox {
        display: inline-block;
        text-align: left;
        width: 45%;
    }

#creditform .selectbox .select, .selectbox .dropdown {
    background: #FFF;
    text-align: left;
    line-height: 33px;
}

select.selectbox {
    visibility: visible;
}

#creditform input[type="text"] {
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset;
    font-family: OpenSans;
    height: 35px;
    padding: 0 3px;
    width: 225px;
}

#creditform input[type="password"] {
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset;
    font-family: OpenSans;
    height: 35px;
    padding: 0 3px;
    width: 225px;
}

.taksit {
    font-size: 0.8em;
    text-align: center;
    padding: 10px;
}

.redhref {
    color: red;
    text-decoration: underline;
}

    .redhref:hover {
        text-decoration: none;
    }

.topdate {
    float: right;
    color: #87ac22;
    font-size: 14px;
    padding-top: 8px;
}


form .msg {
    display: block;
    font-size: 11px;
    color: #FF0000;
    clear: both;
}

form .has-error {
    border-color: orange !important;
}

.shipping-place {
    margin: 20px 0;
}

    .shipping-place li {
        float: left;
        width: 168px;
        border-right: 1px solid #d3d3d3;
    }

        .shipping-place li:last-child {
            border: none;
        }

    .shipping-place label {
        position: relative;
        display: inline-block;
        width: 100%;
        background: url('/images/shipping-elden.png') no-repeat top center;
        padding: 80px 15px 0 15px;
        text-align: center;
        font-size: 12px;
    }

        .shipping-place label.cargo {
            background-image: url('/images/shipping-cargo.png');
        }

        .shipping-place label input {
            position: absolute;
            left: 10px;
            top: 30px;
        }

.payment-type li {
    padding: 15px 5px;
    clear: both;
}

    .payment-type li:first-child {
        border-bottom: 1px solid #d3d3d3;
    }

    .payment-type li small {
        font-size: 11px;
        width: 470px;
        float: right;
    }

    .payment-type li .selectbox .select {
        width: 320px;
    }

#achtung {
    background: #677718;
    border-radius: 2px;
    text-align: center;
    color: #FFF;
    padding: 5px;
}

    #achtung .close {
        position: absolute;
        right: 3px;
        top: 1px;
        font-weight: bold;
        font-size: 10px;
        cursor: pointer;
    }

.alisveris-btn {
    position: absolute;
    right: 0px;
    bottom: 0px;
    background: #87AC22 url('/images/alisveris.png');
    width: 213px;
    height: 36px;
    padding: 12px 0 0 30px;
    display: block;
    color: #EAFF00;
    font-weight: bold;
    font-size: 20px;
}

    .alisveris-btn:hover {
        color: #FFF;
    }

.detay-item {
    margin-top: 15px;
    padding-left: 290px;
    position: relative;
    min-height: 220px;
    float: none !important;
}

    .detay-item .product-item__preview {
        position: absolute;
        left: 0px;
        top: 0px;
    }

    .detay-item .product-item__title {
        font-size: 18px;
        text-align: left;
        height: auto;
    }

    .detay-item .cart-add-btn a {
        position: relative;
        padding: 14px 35px 14px 44px;
        background-position: 90% center;
    }

    .detay-item .cart-add-btn i {
        background: url('/images/cart-white.png') no-repeat;
        display: inline-block;
        width: 33px;
        height: 27px;
        position: absolute;
        left: 6px;
        top: 6px;
    }

    .detay-item .btn {
        float: left;
        text-align: left;
    }

    .detay-item .back-btn {
        padding: 7px 0;
        margin-left: 10px;
    }

        .detay-item .back-btn a {
            background: #656363 url('/images/arrow-left.png') no-repeat;
            padding: 14px 35px 14px 44px;
            background-position: 10% center;
            color: #FFF;
            display: block;
            border-radius: 3px;
            font-weight: bold;
        }

            .detay-item .back-btn a:hover {
                opacity: 0.9;
            }

    .detay-item .grayrow {
        background: #f1f1f1;
        text-align: left;
        margin-bottom: 3px;
        height: auto;
        padding: 5px 9px;
        font-size: 14px;
        color: #000;
    }

    .detay-item .product-item__description {
        text-align: left;
        color: #000;
        background: none;
    }

.detay .scrollButtons {
    display: none;
}

.detay-izle {
    text-align: right;
    position: absolute;
    right: 14px;
    top: 12px;
    font-size: 13px;
    color: #87AC22;
}

    .detay-izle:hover {
        text-decoration: underline;
    }

.detay-izle {
    text-align: right;
    position: absolute;
    right: 14px;
    top: 12px;
    font-size: 14px;
    color: #87AC22;
}

    .detay-izle:after {
        content: " >>";
        position: relative;
        top: -1px;
    }

    .detay-izle:hover {
        color: #333;
    }
